* {
    margin: 0;
} /* Define a margem para zero de todos os elementos */

body {
    background-color: #EBECF0; /* Define a cor de fundo do corpo do documento */
    font-family: 'Montserrat', sans-serif; /* Define a fonte para 'Montserrat' */
}

.main {
    display: flex; /* Define o elemento com display flex */
    height: 100vh; /* Define a altura como 100% da viewport */
    flex-direction: column; /* Define a direção da flexão como coluna */
    align-items: center; /* Alinha os itens ao centro horizontalmente */
    justify-content: center; /* Alinha os itens ao centro verticalmente */
    color: white; /* Define a cor do texto como branco */
}

.main>a {
    width: 22%; /* Define a largura como 22% */
    display: flex; /* Define o elemento com display flex */
    justify-content: center; /* Alinha o conteúdo ao centro horizontalmente */
    margin-bottom: -12vh; /* Define a margem inferior como -12vh (12% da altura da viewport) */
    margin-top: -10vh; /* Define a margem superior como -10vh (10% da altura da viewport) */
}

.large-data {
    background-color: #E9E7E4; /* Define a cor de fundo */
    border: none; /* Remove a borda */
    padding-left: 2%; /* Adiciona um preenchimento esquerdo de 2% */
    font-family: 'montserrat', sans-serif; /* Define a fonte como 'Montserrat' */
    transition: 0.3s; /* Adiciona uma transição de 0.3s */
}

.large-data:hover {
    opacity: 0.9; /* Define a opacidade como 0.9 quando passa o mouse sobre o elemento */
    transform: scale(1.01); /* Realiza uma escala de 1.01 quando passa o mouse sobre o elemento */
    transition: 0.3s; /* Adiciona uma transição de 0.3s */
}

.grande {
    width: 70vh; /* Define a largura como 70% da altura da viewport */
    height: 76vh; /* Define a altura como 76% da altura da viewport */
    background-color: #194018; /* Define a cor de fundo */
    border: 3vh solid #72B06F; /* Adiciona uma borda de 3vh com cor #72B06F */
    margin-bottom: 1%; /* Adiciona uma margem inferior de 1% */
    border-radius: 1%; /* Define o raio da borda como 1% */
}

.main img {
    width: 100%; /* Define a largura como 100% */
    display: flex; /* Define o elemento com display flex */
    justify-content: center; /* Alinha o conteúdo ao centro horizontalmente */
}

form {
    display: flex; /* Define o elemento com display flex */
    flex-direction: column; /* Define a direção da flexão como coluna */
    height: 100%; /* Define a altura como 100% */
    width: 80%; /* Define a largura como 80% */
    margin: auto; /* Define as margens como automático */
    margin-top: 3vh; /* Define a margem superior como 3vh (3% da altura da viewport) */
    justify-content: space-around; /* Distribui uniformemente os itens ao redor */
    text-decoration: none; /* Remove a decoração do texto */
}

form .large-data {
    height: 6%; /* Define a altura como 6% */
    margin-top: 2%; /* Define a margem superior como 2% */
    outline: none; /* Remove o contorno ao ganhar foco */
    border-radius: 4px; /* Define o raio da borda como 4px */
}

.label {
    margin-top: 5%; /* Define a margem superior como 5% */
}

.termos {
    text-align: center; /* Centraliza o texto */
    margin-top: 6%; /* Define a margem superior como 6% */
}

.small-data input {
    height: 4.5vh; /* Define a altura como 4.5vh (4.5% da altura da viewport) */
    padding-left: 4%; /* Adiciona um preenchimento esquerdo de 4% */
    border-radius: 4px; /* Define o raio da borda como 4px */
    border: none; /* Remove a borda */
    font-family: 'montserrat', sans-serif; /* Define a fonte como 'Montserrat' */
    transition: 0.3s; /* Adiciona uma transição de 0.3s */
}

.small-data input:hover {
    opacity: 0.9; /* Define a opacidade como 0.9 quando passa o mouse sobre o elemento */
    transition: 0.3s; /* Adiciona uma transição de 0.3s */
    transform: scale(1.01); /* Realiza uma escala de 1.01 quando passa o mouse sobre o elemento */
}

#date {
    height: 4.8vh; /* Define a altura como 4.8vh (4.8% da altura da viewport) */
    margin-top: 1vh; /* Define a margem superior como 1vh (1% da altura da viewport) */
}

.form2 {
    display: flex; /* Define o elemento com display flex */
    justify-content: space-between; /* Distribui uniformemente o espaço entre os itens */
    text-decoration: none; /* Remove a decoração do texto */
    margin-top: 5%; /* Define a margem superior como 5% */
}

#tel {
    margin-top: 4%; /* Define a margem superior como 4% */
}

.small-data {
    display: flex; /* Define o elemento com display flex */
    flex-direction: column; /* Define a direção da flexão como coluna */
    text-decoration: none; /* Remove a decoração do texto */
    font-size: 14px; /* Define o tamanho da fonte como 14px */
}

.small-data input {
    outline: none; /* Remove o contorno ao ganhar foco */
    background-color: #E9E7E4; /* Define a cor de fundo */
    margin-top: 6%; /* Define a margem superior como 6% */
}

.small-letters {
    margin: auto; /* Centraliza horizontalmente */
    line-height: 20px; /* Define a altura da linha como 20px */
    font-size: 12px; /* Define o tamanho da fonte como 12px */
}

.small-letters a {
    color: white; /* Define a cor do link como branco */
}

#cadastrar {
    font-weight: 400; /* Define o peso da fonte como 400 */
    background-color: #848D43; /* Define a cor de fundo */
    font-size: 22px; /* Define o tamanho da fonte como 22px */
    padding: 2%; /* Adiciona um preenchimento de 2% */
    color: #ffffff; /* Define a cor do texto como branco */
    width: 45%; /* Define a largura como 45% */
    margin: auto; /* Define as margens como automático */
    margin-top: 5%; /* Define a margem superior como 5% */
    margin-bottom: 1%; /* Define a margem inferior como 1% */
    border: none; /* Remove a borda */
    border-radius: 4px; /* Define o raio da borda como 4px */
    cursor: pointer; /* Define o cursor como ponteiro */
    font-family: 'Montserrat', sans-serif; /* Define a fonte como 'Montserrat' */
    transition: 0.3s; /* Adiciona uma transição de 0.3s */
}

#cadastrar:hover {
    transform: scale(1.05); /* Realiza uma escala de 1.05 quando passa o mouse sobre o elemento */
    transition: 0.3s; /* Adiciona uma transição de 0.3s */
}

@media screen and (max-width: 1150px) and (min-height: 720px) {
    .small-letters {
        font-size: 14px; /* Define o tamanho da fonte como 14px */
    }
    label {
        font-size: 18px; /* Define o tamanho da fonte como 18px */
    }

    input {
        font-size: 16px; /* Define o tamanho da fonte como 16px */
    }

    #cadastrar {
        font-size: 24px; /* Define o tamanho da fonte como 24px */
    }
    .main>a{
        margin-bottom: -5vh; /* Define a margem inferior como -5vh (5% da altura da viewport) */
        margin-top: -5vh; /* Define a margem superior como -5vh (5% da altura da viewport) */
    }
}

#login {
    margin-top: 5%; /* Define a margem superior como 5% */
}




footer {
    font-family: 'montserrat', sans-serif; /* Define a fonte como 'Montserrat' */
    background-color: #EBECF0; /* Define a cor de fundo */
}

footer p {
    color: black; /* Define a cor do texto como preto */
}

.contato p {
    margin-left: 0; /* Define a margem esquerda como zero */
    font-size: 16px; /* Define o tamanho da fonte como 16px */
}

.linha {
    background-color: #093807; /* Define a cor de fundo */
    height: 2vh; /* Define a altura como 2vh (2% da altura da viewport) */
}

.linha2 {
    background-color: #093807; /* Define a cor de fundo */
    height: 2vh; /* Define a altura como 2vh (2% da altura da viewport) */
}

.sublinhado {
    background-color: #093807; /* Define a cor de fundo */
    margin-top: -8%; /* Define a margem superior como -8% */
    height: 2%; /* Define a altura como 2% */
    width: 80%; /* Define a largura como 80% */
    margin-left: 2%; /* Define a margem esquerda como 2% */
}

.sublinhado2 {
    background-color: #093807; /* Define a cor de fundo */
    margin-top: -7%; /* Define a margem superior como -7% */
    height: 2%; /* Define a altura como 2% */
    width: 80%; /* Define a largura como 80% */
    margin-left: 10%; /* Define a margem esquerda como 10% */
}

@media (max-width: 768px) {
    .main>a {
        width: 40%; /* Define a largura como 40% */
    }

    .grande {
        width: 80vh; /* Define a largura como 80% da altura da viewport */
    }

    form {
        width: 90%; /* Define a largura como 90% */
    }

    .small-data input {
        height: 5.5vh; /* Define a altura como 5.5vh (5.5% da altura da viewport) */
    }
}