body {
  padding: 0;
  background-color: #EBECF0;
  margin: 0;
  width: auto;
  overflow-x: hidden;
  /* impede a barra de rolar na horizontal */
}


/* menu principal primeira faixa*/

.faixa1 {
  background-color: #093807;
  display: flex;
  height: 8.8vh;
  align-items: center;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 9999;
  /* impede que outros elementos se sobreponham */
}

#logo {
  display: flex;
  height: 35vh;
  margin-left: -1vw;
}

.pesquisa {
  display: flex;
  background-color: white;
  height: 2.5vw;
  align-items: center;
  border-radius: 1vw;
  width: 22vw;
  padding-left: 1vw;
  margin-left: 45vw;
  transition: 0.2s;
  justify-content: space-around;
}

.pesquisa:hover {
  background-color: rgb(211, 211, 211);
  cursor: pointer;

}

.pesquisa input {
  width: 12vw;
  background-color: transparent;
  font-family: 'Montserrat', sans-serif;
}

.pesquisa img {
  display: flex;
  height: 4vh;
}

/* ajuste da barra de pesquisa */
@media screen and (max-width: 1300px) and (min-height:720px) {
  .pesquisa {
    margin-left: 30vw;
    height: 5vh
  }

  .pesquisa img {
    height: 3.5vh;
  }
}

input {
  border: none;
  outline: none;
}

/* login */
.entrar {
  display: flex;
  width: 10vw;
  margin-left: 3vw;
}

/* ajuste do login para o tamanho de tela */
@media screen (max-width: 1300px) and (min-height:720px) {
  .entrar {
    margin-left: 2vw;
  }
}

.entrar a {
  display: flex;
  width: 4vw;
  align-items: center;
  text-decoration: none;
}

.entrar img {
  width: 2vw;
}

.entrar p {
  padding: 0.3vw;
  margin-left: 0.2vw;
  transition: 0.3s;
}

.entrar p:hover {
  background-color: #429c4462;
  border-radius: 1vh;
  padding: 0.5vw;
}

.sacola img {
  width: 2vw;
}

/* sacola */
.sacola a {
  display: flex;
  align-items: center;
  text-decoration: none;
  margin-right: 2vw;
}

.sacola p {
  margin-left: 0.76vw;
  transition: 0.3s;
}

/* ajuste para o tamanho da tela */
@media screen and (max-width: 1300px) and (min-height:720px) {
  .sacola a {
    margin-right: 0.2vw;
    margin-left: 1vw
  }
}

.sacola p:hover {
  background-color: #429c4462;
  border-radius: 1vh;
  padding: 0.5vw;
}

/*Menu segunda faixa*/

.faixa2 {
  background-color: #429C44;
  height: 7.2vh;
  width: 100%;
  top: 8.7vh;
  position: fixed;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;
  /* sombreado  */
  z-index: 9999;

}

/* opções de navegação */
.opcoes a:hover {
  background-color: #254e2562;
  border-radius: 1vh;
  padding: 0.5vw;
}

.opcoes {
  display: flex;
  height: 3.5vw;
  align-items: center;
  margin-left: 83vw;
  justify-content: space-around;
  width: 32.5vh;
}

.opcoes a {
  align-self: center;
  text-decoration: none;
  font-family: 'Montserrat', sans-serif;
  color: white;
  transition: 0.3s;
}

/* ajuste para o tamanho da tela */
@media screen and (max-width: 1300px) and (min-height:720px) {
  .opcoes {
    margin-left: 80vw;
    height: 100%;
    align-items: center;
    width: 26.5vh;
  }
}

#nos {
  display: flex;
}

header p {
  color: white;
  font-family: 'Montserrat', sans-serif;
  margin-left: 2vw;
}


/* texto título da página */
.container-descricao {
  margin-top: 32vh;
  margin-bottom: -5vh;
  margin-left: 4vh;
  display: inline-grid;
  /* border:1px solid black; */
  grid-template-areas:
    'b1 b1 b1'
    'b1 b1 b1';
  width: 200vw;
}

/* ajusto de tela */
@media screen and (max-width: 1300px) and (min-height:720px) {
  .container-descricao {
    margin-top: 32vh;
    margin-left: 4vh;
    display: inline-grid;
    /* border:1px solid black; */
    grid-template-areas:
      'b1 b1 b1 '
      'b1 b1 b1';
    width: 200vw;

  }
}

/* caixa de produtos */
.container-caixinhas {
  display: grid;
  grid-template-areas:
    'b12 b13 b14 b15'
    'b12 b13 b14 b15';
  justify-content: space-between;
  margin-left: 5%;
  margin-right: 5%;

}

/* ajuste de tela */
@media screen and (max-width: 1300px) and (min-height:720px) {
  .container-caixinhas {
    margin-top: 0;
    margin-bottom: 5%;
    display: grid;
    grid-template-areas:
      'b12 b13 b14 b15'
      'b12 b13 b14 b15';
    justify-content: space-between;
    max-width: 100%;
  }
}

/* descrição dos produtos */
.box-descricao {
  display: flex;
  margin-top: -15VH;
  margin-left: 3vw;
}

/* ajuste de tela */
@media screen and (max-width: 1300px) and (min-height:720px) {
  .box-descricao {
    display: flex;
    margin-top: -15VH;
    margin-left: 2.5vw;
  }
}

.box-descricao>h1 {
  cursor: pointer;
}

/* título da página */
#box1 {
  grid-area: b1;
  /* grid-column: 1/11; */
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
  font-weight: 700;
  color: #3D2A1A;
}

#box1>a {
  color: #3D2A1A;
  text-decoration: none;
}

.descricao-produtos>a {
  text-decoration: none;
  color: #3D2A1A;
}

/* produto 1 */
#box12 {
  grid-area: b12;
  width: 20VW;
  height: 60vh;
  background-color: rgb(223, 203, 190);
  border-radius: 8px;
  text-decoration: none;
  transition: 0.3s;
}

@media screen and (max-width: 1300px) and (min-height:720px) {
  #box12 {
    grid-area: b12;
    width: 20VW;
    height: 47vh;
    background-color: rgb(223, 203, 190);
    border-radius: 8px;
    text-decoration: none;
    transition: 0.3s;
  }
}

#box12:hover {
  transform: scale(1.03);
}

#preco12 {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.4em;
  color: black;
  margin-left: 9%;
  margin-top: -1vh;
  margin-bottom: 2.7vh;
}

@media screen and (max-width: 1300px) and (min-height:720px) {
  #preco12 {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.3em;
    margin-top: -4%;
    color: black;
    margin-left: 1.8VH;
    margin-bottom: 1vh;
  }
}

/* produto 2 */
#box13 {
  grid-area: b13;
  width: 20VW;
  height: 60vh;
  background-color: rgb(223, 203, 190);
  border-radius: 8px;
  text-decoration: none;
  transition: 0.3s;
}

@media screen and (max-width: 1300px) and (min-height:720px) {
  #box13 {
    grid-area: b13;
    width: 20VW;
    height: 47vh;
    background-color: rgb(223, 203, 190);
    border-radius: 8px;
    text-decoration: none;
    transition: 0.3s;
  }
}



#box13:hover {
  transform: scale(1.03);
}

#preco13 {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.4em;
  color: black;
  margin-left: 9%;
  margin-top: -1vh;
  margin-bottom: 2.7vh;
}

@media screen and (max-width: 1300px) and (min-height:720px) {
  #preco13 {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.3em;
    margin-top: -4%;
    color: black;
    margin-left: 1.8VH;
    margin-bottom: 1vh;
  }
}

/* produto 3 */
#box14 {
  grid-area: b14;
  width: 20VW;
  height: 60vh;
  background-color: rgb(223, 203, 190);
  border-radius: 8px;
  text-decoration: none;
  transition: 0.3s;
}

@media screen and (max-width: 1300px) and (min-height:720px) {
  #box14 {
    grid-area: b14;
    width: 20VW;
    height: 47vh;
    background-color: rgb(223, 203, 190);
    border-radius: 8px;
    text-decoration: none;
    transition: 0.3s;
  }
}

#box14:hover {
  transform: scale(1.03);
}

#lactose7 {
  font-family: 'Montserrat', sans-serif;
  font-size: 13px;
  line-height: 0;
  float: right;
  margin-right: 2.2vw;
  margin-top: 4.5%;

}

@media screen and (max-width: 1300px) and (min-height:720px) {
  #lactose7 {
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
    margin-top: -2vh;
    margin-right: 2vh;
  }
}

#preco14 {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.4em;
  color: black;
  margin-left: 9%;
  margin-top: -1vh;
}

@media screen and (max-width: 1300px) and (min-height:720px) {
  #preco14 {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.3em;
    margin-top: -4%;
    color: black;
    margin-left: 1.8VH;
    margin-bottom: 1vh;
  }
}

/* produto 4 */
#box15 {
  grid-area: b15;
  width: 20VW;
  height: 60vh;
  background-color: rgb(223, 203, 190);
  border-radius: 8px;
  text-decoration: none;
  transition: 0.3s;
}

@media screen and (max-width: 1300px) and (min-height:720px) {
  #box15 {
    grid-area: b15;
    width: 20VW;
    height: 47vh;
    background-color: rgb(223, 203, 190);
    border-radius: 8px;
    text-decoration: none;
    transition: 0.3s;
  }
}


#box15:hover {
  transform: scale(1.03);
}

#gluten7 {
  font-family: 'Montserrat', sans-serif;
  font-size: 13px;
  line-height: 0;
  float: right;
  margin-right: 2.2vw;
  margin-top: 4.5%;

}

@media screen and (max-width: 1300px) and (min-height:720px) {
  #gluten7 {
    font-family: 'Montserrat', sans-serif;
    font-size: 13px;
    margin-top: -2vh;
    margin-right: 2vh;
  }
}

#preco15 {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.4em;
  color: black;
  margin-left: 9%;
  margin-top: -1vh;
}

@media screen and (max-width: 1300px) and (min-height:720px) {
  #preco15 {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.3em;
    margin-top: -4%;
    color: black;
    margin-left: 1.8VH;
    margin-bottom: 1vh;
  }
}

.espaco-divs {
  /* aqui é a div pai dos produtos escondido */
  display: flex;
  flex-direction: column;
  margin-top: 2%;
}


#minhaDiv {
  /* Oculta o conteúdo do resto dos produtos*/
  display: none;

}

/* caixa dos produtos escondidos */
.container-caixinhas2 {
  display: grid;
  grid-template-areas:
    'b16 b17 b18 b19'
    'b16 b17 b18 b19'
    'b20 b21 b22 b23'
    'b20 b21 b22 b23';
  justify-content: space-between;
  margin-left: 5%;
  margin-right: 5%;
  margin-bottom: 5%;
}

@media screen and (max-width: 1300px) and (min-height:720px) {
  .container-caixinhas2 {
    display: grid;
    grid-template-areas:
      'b16 b17 b18 b19'
      'b16 b17 b18 b19'
      'b20 b21 b22 b23'
      'b20 b21 b22 b23';
    justify-content: space-between;
    margin-left: 5%;
    margin-right: 5%;
  }
}

/* produto 5 */
#box16 {
  margin-top: 5vh;
  grid-area: b16;
  width: 20VW;
  height: 60vh;
  background-color: rgb(223, 203, 190);
  border-radius: 8px;
  text-decoration: none;
  transition: 0.3s;
}

@media screen and (max-width: 1300px) and (min-height:720px) {
  #box16 {
    grid-area: b16;
    width: 20VW;
    height: 47vh;
    background-color: rgb(223, 203, 190);
    border-radius: 8px;
    text-decoration: none;
    transition: 0.3s;
  }
}

#box16:hover {
  transform: scale(1.03);
}

#lactose15 {
  font-family: 'Montserrat', sans-serif;
  font-size: 13px;
  line-height: 0;
  float: right;
  margin-right: 2.2vw;
  margin-top: 4.5%;

}

@media screen and (max-width: 1300px) and (min-height:720px) {
  #lactose15 {
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
    margin-top: -2vh;
    margin-right: 2vh;
  }
}

#preco16 {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.4em;
  color: black;
  margin-left: 9%;
  margin-top: -1vh;
}

@media screen and (max-width: 1300px) and (min-height:720px) {
  #preco16 {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.3em;
    margin-top: -4%;
    color: black;
    margin-left: 1.8VH;
    margin-bottom: 1vh;
  }
}

/* produto 6 */
#box17 {
  margin-top: 5vh;
  grid-area: b17;
  height: 60vh;
  width: 20VW;
  background-color: rgb(223, 203, 190);
  border-radius: 8px;
  text-decoration: none;
  transition: 0.3s;
}

@media screen and (max-width: 1300px) and (min-height:720px) {
  #box17 {
    grid-area: b17;
    width: 20VW;
    height: 47vh;
    background-color: rgb(223, 203, 190);
    border-radius: 8px;
    text-decoration: none;
    transition: 0.3s;
  }
}

#box17:hover {
  transform: scale(1.03);
}

#gluten15 {
  font-family: 'Montserrat', sans-serif;
  font-size: 13px;
  line-height: 0;
  float: right;
  margin-right: 2.2vw;
  margin-top: 4.5%;

}

@media screen and (max-width: 1300px) and (min-height:720px) {
  #gluten15 {
    font-family: 'Montserrat', sans-serif;
    font-size: 13px;
    margin-top: -2vh;
    margin-right: 2vh;
  }
}

#preco17 {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.4em;
  color: black;
  margin-left: 9%;
  margin-top: -1vh;
}

@media screen and (max-width: 1300px) and (min-height:720px) {
  #preco17 {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.3em;
    margin-top: -4%;
    color: black;
    margin-left: 1.8VH;
    margin-bottom: 1vh;
  }
}

/* produto 7 */
#box18 {
  margin-top: 5vh;
  grid-area: b18;
  height: 60vh;
  width: 20VW;
  background-color: rgb(223, 203, 190);
  border-radius: 8px;
  text-decoration: none;
  transition: 0.3s;
}

@media screen and (max-width: 1300px) and (min-height:720px) {
  #box18 {
    grid-area: b18;
    width: 20VW;
    height: 47vh;
    background-color: rgb(223, 203, 190);
    border-radius: 8px;
    text-decoration: none;
    transition: 0.3s;
  }
}

@media screen and (max-width: 1300px) and (min-height:720px) {
  h2>#box18 {
    margin-right: 15%;
    font-family: 'Montserrat', sans-serif;
    font-size: 11px;
    max-width: 23vw;
    margin-top: -27%;

  }
}

#box18:hover {
  transform: scale(1.03);
}

#APLV7 {
  font-family: 'Montserrat', sans-serif;
  font-size: 13px;
  line-height: 0;
  float: right;
  margin-right: 2.2vw;
  margin-top: 4.5%;

}

@media screen and (max-width: 1300px) and (min-height:720px) {
  #APLV7 {
    font-family: 'Montserrat', sans-serif;
    font-size: 13px;
    margin-top: -2vh;
    margin-right: 2vh;
  }
}

#preco18 {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.4em;
  color: black;
  margin-left: 9%;
  margin-top: -1vh;
}

@media screen and (max-width: 1300px) and (min-height:720px) {
  #preco18 {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.3em;
    margin-top: -4%;
    color: black;
    margin-left: 1.8VH;
    margin-bottom: 1vh;
  }
}

/* produto 8 */
#box19 {
  margin-top: 5vh;
  grid-area: b19;
  height: 60vh;
  width: 20VW;
  background-color: rgb(223, 203, 190);
  border-radius: 8px;
  text-decoration: none;
  transition: 0.3s;
}

@media screen and (max-width: 1300px) and (min-height:720px) {
  #box19 {
    grid-area: b19;
    width: 20VW;
    height: 47vh;
    background-color: rgb(223, 203, 190);
    border-radius: 8px;
    text-decoration: none;
    transition: 0.3s;
  }
}

#box19:hover {
  transform: scale(1.03);
}

#APLV15 {
  font-family: 'Montserrat', sans-serif;
  font-size: 13px;
  line-height: 0;
  float: right;
  margin-right: 2.2vw;
  margin-top: 4.5%;

}

@media screen and (max-width: 1300px) and (min-height:720px) {
  #APLV15 {
    font-family: 'Montserrat', sans-serif;
    font-size: 13px;
    margin-top: -2vh;
    margin-right: 2vh;
  }
}

#preco19 {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.4em;
  color: black;
  margin-left: 9%;
  margin-top: -1vh;
}

@media screen and (max-width: 1300px) and (min-height:720px) {
  #preco19 {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.3em;
    margin-top: -4%;
    color: black;
    margin-left: 1.8VH;
    margin-bottom: 1vh;
  }
}

/* produto 9 */
#box20 {
  margin-top: 10vh;
  grid-area: b20;
  height: 60vh;
  width: 20VW;
  background-color: rgb(223, 203, 190);
  border-radius: 8px;
  text-decoration: none;
  transition: 0.3s;
}

@media screen and (max-width: 1300px) and (min-height:720px) {
  #box20 {
    grid-area: b20;
    width: 20VW;
    height: 47vh;
    background-color: rgb(223, 203, 190);
    border-radius: 8px;
    text-decoration: none;
    transition: 0.3s;
  }
}



#box20:hover {
  transform: scale(1.03);
}

#ovo {
  font-family: 'Montserrat', sans-serif;
  font-size: 15px;
  line-height: 0;
  float: right;
  margin-right: 2.2vw;
  margin-top: 4.5%;

}

@media screen and (max-width: 1300px) and (min-height:720px) {
  #ovo {
    font-family: 'Montserrat', sans-serif;
    font-size: 13px;
    margin-top: -2vh;
    margin-right: 2vh;
  }
}

#preco20 {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.4em;
  color: black;
  margin-left: 9%;
  margin-top: -1vh;
}

@media screen and (max-width: 1300px) and (min-height:720px) {
  #preco20 {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.3em;
    margin-top: -4%;
    color: black;
    margin-left: 1.8VH;
    margin-bottom: 1vh;
  }
}

/* produto 10 */
#box21 {
  margin-top: 10vh;
  grid-area: b21;
  height: 60vh;
  width: 20VW;
  background-color: rgb(223, 203, 190);
  border-radius: 8px;
  text-decoration: none;
  transition: 0.3s;
}

@media screen and (max-width: 1300px) and (min-height:720px) {
  #box21 {
    grid-area: b21;
    width: 20VW;
    height: 47vh;
    background-color: rgb(223, 203, 190);
    border-radius: 8px;
    text-decoration: none;
    transition: 0.3s;
  }
}

#box21:hover {
  transform: scale(1.03);
}

#fruto {
  font-family: 'Montserrat', sans-serif;
  font-size: 13px;
  line-height: 0;
  float: right;
  margin-right: 2.2vw;
  margin-top: 4.5%;

}

@media screen and (max-width: 1300px) and (min-height:720px) {
  #fruto {
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
    margin-top: -2vh;
    margin-right: 2vh;
  }
}

#preco21 {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.4em;
  color: black;
  margin-left: 9%;
  margin-top: -1vh;
}

@media screen and (max-width: 1300px) and (min-height:720px) {
  #preco21 {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.3em;
    margin-top: -4%;
    color: black;
    margin-left: 1.8VH;
    margin-bottom: 1vh;
  }
}


/* produto 11 */
#box22 {
  margin-top: 10vh;
  grid-area: b22;
  height: 60vh;
  width: 20VW;
  background-color: rgb(223, 203, 190);
  border-radius: 8px;
  text-decoration: none;
  transition: 0.3s;
}

@media screen and (max-width: 1300px) and (min-height:720px) {
  #box22 {
    grid-area: b22;
    width: 20VW;
    height: 47vh;
    background-color: rgb(223, 203, 190);
    border-radius: 8px;
    text-decoration: none;
    transition: 0.3s;
  }
}

#vegana {
  font-family: 'Montserrat', sans-serif;
  font-size: 15px;
  line-height: 0;
  float: right;
  margin-right: 2.2vw;
  margin-top: 4.5%;

}

@media screen and (max-width: 1300px) and (min-height:720px) {
  #vegana {
    font-family: 'Montserrat', sans-serif;
    font-size: 13px;
    margin-top: -2vh;
    margin-right: 2vh;
  }
}

#preco22 {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.4em;
  color: black;
  margin-left: 9%;
  margin-top: -1vh;
}

@media screen and (max-width: 1300px) and (min-height:720px) {
  #preco22 {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.3em;
    margin-top: -4%;
    color: black;
    margin-left: 1.8VH;
    margin-bottom: 1vh;
  }
}

#box22:hover {
  transform: scale(1.03);
}

/* produto 12 */
#box23 {
  margin-top: 10vh;
  grid-area: b23;
  height: 60vh;
  width: 20VW;
  background-color: rgb(223, 203, 190);
  border-radius: 8px;
  text-decoration: none;
  transition: 0.3s;
}

@media screen and (max-width: 1300px) and (min-height:720px) {
  #box23 {
    grid-area: b23;
    width: 20VW;
    height: 47vh;
    background-color: rgb(223, 203, 190);
    border-radius: 8px;
    text-decoration: none;
    transition: 0.3s;
  }
}

#veget {
  font-family: 'Montserrat', sans-serif;
  font-size: 13px;
  line-height: 0;
  float: right;
  margin-right: 2.2vw;
  margin-top: 4.5%;
}

@media screen and (max-width: 1300px) and (min-height:720px) {
  #veget {
    font-family: 'Montserrat', sans-serif;
    font-size: 13px;
    margin-top: -2vh;
    margin-right: 2.1vh;
  }
}

#preco-23 {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.4em;
  color: black;
  margin-left: 9%;
  margin-top: -1vh;
}

@media screen and (max-width: 1300px) and (min-height:720px) {
  #preco-23 {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.3em;
    margin-top: -4%;
    color: black;
    margin-left: 1.8VH;
    margin-bottom: 1vh;
  }
}

#box23:hover {
  transform: scale(1.03);
}

.imgbox {
  /* CLASSE GERAL DAS IMAGENS DO PRODUTOS */
  border-radius: 9px;
  margin: auto;
  margin-top: 10%;
  height: 55%;
  width: 16vw;
  justify-content: center;
}

@media screen and (max-width: 1300px) and (min-height:720px) {
  .imgbox {
    border-radius: 9px;
    margin-top: 6%;
    height: 50%;
    width: 17vw;
    justify-content: center
  }
}

/* IMAGENS DOS PRODUTOS EM ORDEM DE 12 A 23 */
#imgbox12 {
  background-image: url(/pages/img/prdt-especifico/image\ \(2\).png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
}


#imgbox13 {

  background-image: url(/pages/img/prdt-especifico/image.png);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 100%;
  border-radius: 7px;
}

#imgbox14 {
  background-image: url(/pages/img/prdt-especifico/image\ \(4\).png);
  background-position: center center;
  background-size: 100%;
  background-repeat: no-repeat;
  border-radius: 7px;
}

#imgbox15 {
  background-image: url(/pages/img/prdt-especifico/image\ \(5\).png);
  background-position: center center;
  background-size: 100%;
  border-radius: 7px;
  background-repeat: no-repeat;
}

#imgbox16 {
  background-image: url(/pages/img/produto-img/asparagus-2169305_1920.jpg);
  background-position: center center;
  background-size: 100%;
  border-radius: 7px;
  background-repeat: no-repeat;
}

#imgbox17 {
  background-image: url(/pages/img/produto-img/curry-7249247_1920.jpg);
  background-position: center center;
  background-size: 100%;
  border-radius: 7px;
  background-repeat: no-repeat;
}

#imgbox18 {
  background-image: url(/pages/img/produto-img/salmon-1485014_1920.jpg);
  background-position: center center;
  background-size: 100%;
  border-radius: 7px;
  background-repeat: no-repeat;
}

#imgbox19 {
  background-image: url(/pages/img/produto-img/mozzarella-5254110_1920.jpg);
  background-position: center center;
  background-size: 100%;
  border-radius: 7px;
  background-repeat: no-repeat;
}

#imgbox20 {
  background-image: url(/pages/img/produto-img/pancakes-3497531_1920.jpg);
  background-position: center center;
  background-size: 100%;
  border-radius: 7px;
  background-repeat: no-repeat;
}

#imgbox21 {
  background-image: url(/pages/img/produto-img/pasta-7209002_1920.jpg);
  background-position: center center;
  background-size: 100%;
  border-radius: 7px;
  background-repeat: no-repeat;
}

#imgbox22 {
  background-image: url(/pages/img/produto-img/smoothie-4625476_1920.jpg);
  background-position: center center;
  background-size: 100%;
  border-radius: 7px;
  background-repeat: no-repeat;
}

#imgbox23 {
  background-image: url(/pages/img/produto-img/vegetable-skewer-3317055_1920.jpg);
  background-position: center center;
  background-size: 100%;
  border-radius: 7px;
  background-repeat: no-repeat;
}

.descricao-produtos {
  /* DIV DESCRICAO DOS PRODUTOS */
  height: 15vh;
}


.h1 {
  /* TITULOS DOS PRODUTOS SEM ID*/
  display: flex;
  font-size: 1.3em;
  font-family: 'Montserrat', sans-serif;
  align-content: center;
  max-width: 17VW;
  margin-left: 3.9vh;
}

@media screen and (max-width: 1300px) and (min-height:720px) {
  .h1 {
    display: flex;
    font-size: 1.2em;
    font-family: 'Montserrat', sans-serif;
    align-content: center;
    max-width: 17.2VW;
    margin-left: 1.7vh;
    text-align: justify;
  }
}




.espaco-botaoVer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 1vh;
}

.botaoVer {
  /* BOTAO VER MAIS */
  width: 70%;
  height: 30%;
  border-radius: 7px;
  border: none;
  color: white;
  padding: 16px;
  text-align: center;
  font-size: 19px;
  background-color: #7e6750;
  transition-duration: 0.4s;
  cursor: pointer;
  font-weight: bold;
  font-family: 'Montserrat', sans-serif;
  transition: 0.3s;
  cursor: pointer;
  align-items: center;
}

.botaoVer>a {
  text-decoration: none;
  color: white;
}

.botaoVer:hover {
  transform: scale(1.05);

}


.espaco-botao {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: -0.6%;
}

.botaoEnviar {
  /* BOTAO CARREGAR MAIS PRODUTOS */
  width: 230px;
  border-radius: 8px;
  border: none;
  color: white;
  padding: 16px;
  text-align: center;
  font-size: 19px;
  background-color: #4CAF50;
  transition-duration: 0.4s;
  cursor: pointer;
  font-weight: bold;
  font-family: 'Montserrat', sans-serif;
  transition: 0.3s;
  cursor: pointer;
  align-items: center;
}

.botaoEnviar:hover {
  transform: scale(1.03);
}



/* rodapé */

footer {
  font-family: 'montserrat', sans-serif;
  background-color: #EBECF0;
  margin-top: 12vh;
}

footer p {
  color: black;
}

.contato p {
  margin-left: 0;
  font-size: 16px;
}

/* linhas que divide o rodapé */
.linha {
  background-color: #093807;
  height: 2vh;
}

.linha2 {
  background-color: #093807;
  height: 2vh;
}

/* linha que divide a logo do lema */
.sublinhado {
  background-color: #093807;
  margin-top: -8%;
  height: 2%;
  width: 80%;
  margin-left: 2%;
}

/* espaço para as colunas */
.row1 {
  display: flex;
  padding-top: 1%;
  justify-content: space-around;
}

.row1 a {
  color: black;
}

.row1 img {
  margin-top: -5%;
}

/* primeira coluna */
.col1 p {
  width: 70%;
  margin-left: 6%;
}

/* segunda coluna */
.col2 {
  display: flex;
  flex-direction: column;
}

.col2 a {
  margin-top: 12%;
}

/* terceira coluna */
.col3 {
  display: flex;
  flex-direction: column;
}

.col3 a {
  margin-top: 20%;
}

/* quarta coluna */
.col4 {
  display: flex;
  flex-direction: column;
  width: 11%;
  margin-right: 5%;
}

/* contatos */
.contato {
  width: 85%;
  display: flex;
  justify-content: space-between;
  height: 8vh;
  margin-left: 6%;
  margin-top: 2%;
}

.contato img {
  height: 50%;
  margin-right: 3%;
}

.localizacao {
  display: flex;
  align-items: center;
}

.localizacao img {
  margin-right: 5%;
}

.fone {
  display: flex;
  align-items: center;
  width: 30%;
}

@media screen and (max-width: 1300px) and (min-height:720px) {
  .fone {
    display: flex;
    align-items: center;
    width: 40%;
  }
}

.email {
  display: flex;
  align-items: center;
  margin-left: -10%;
}


.lema {
  text-align: center;
  margin-right: 1%;
  margin-top: 2%;
  font-size: 16px;
}


/* título das redes sociais */
h4 {
  font-size: 18px;
  margin-top: 2%;
}

.redes img {
  width: 25%;
  margin-top: 15%;
}