body {
  padding: 0;
  background-color: rgb(255, 255, 255);
  margin: 0;
  width: auto;
  overflow-x: hidden; /* Impede a rolagem horizontal */
}

/* menu principal */

.faixa1{
  background-color: #093807;
  display: flex;
  height: 8.8vh;
  align-items: center;  
  width:auto;
  
}


#logo{
  display: flex;
  height: 35vh;
  margin-left: -1vw;
}

.pesquisa{
  display: flex;
  background-color: white;
  height:2.5vw;
  align-items: center;
  border-radius: 1vw;
  width: 22vw;
  padding-left: 1vw;
  margin-left: 45vw;
  transition: 0.2s;
  justify-content: space-around;
}

.pesquisa:hover{
  background-color: rgb(211, 211, 211);
  cursor: pointer;

}

.pesquisa input{
  width:12vw ;
  background-color:transparent;
  font-family: 'Montserrat', sans-serif;
}

.pesquisa img {
  display:flex;
  height: 4vh;
}

input{
  border: none;
  outline: none;
}

.entrar{
  display: flex;
  width: 10vw;
  margin-left: 3vw;
}


.entrar a{
  display: flex;
  width: 4vw;
  align-items: center;
  text-decoration: none;
}

.entrar img{
  width: 2vw;
}

.entrar p{
  padding: 0.3vw;
  margin-left: 0.2vw;
  transition: 0.3s;
}

.entrar p:hover {
  background-color: #429c4462;
  border-radius: 1vh;
  padding: 0.5vw;
}

.sacola img{
  width: 2vw;
}

.sacola a{
  display: flex;
  align-items: center;
  text-decoration: none;
  margin-right: 2vw;
}

.sacola p{
  margin-left: 0.76vw;
  transition: 0.3s;
}

.sacola p:hover {
  background-color: #429c4462;
  border-radius: 1vh;
  padding: 0.5vw;
}

/*Menu secundario*/

.faixa2{
  background-color: #429C44;
  height: 7.2vh;
  width: auto;
}

.opcoes a:hover {
  background-color: #254e2562;
  border-radius: 1vh;
  padding: 0.5vw;
}

.opcoes{
  display: flex;
  height: 3.5vw;
  align-items: center;
  margin-left:83vw;
  justify-content:space-around;
  width: 33vh;
}
.opcoes a {
  align-self: center;
  text-decoration: none;
  font-family: 'Montserrat', sans-serif;
  color: white;
  transition: 0.3s;
}

#nos{
  display: flex;
}

header p{
  color: white;
  font-family: 'Montserrat', sans-serif;
  margin-left: 2vw;
}

    

.container-descricao{
   margin-top: 18vh;
   margin-left: 4vh;
   display:inline-grid;
   /* border:1px solid black; */
   grid-template-areas: 
   'b1 b1 b1 b2 b2'
   'b1 b1 b1 b2 b2';
   width: 200vh;
   
} 
.container-caixinhas{
    display:grid;
    /* grid-template-columns: repeat(4, 25%);
    grid-template-rows: repeat(4, 25%) ; */
    grid-template-areas:
     'b12 b13 b14 b15'
     'b12 b13 b14 b15';
    justify-content: space-between;
    margin-left: 10vh;
    margin-right: 10vh;
   
}



.box-descricao{ 
    /* border: solid 1px black; */
    display: flex;
    margin-top: -15VH;
    margin-left: 3vw;
}

.box-descricao h1{
  cursor: pointer;
}


#box1{
    grid-area: b1;
    /* grid-column: 1/11; */
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    font-weight: bold;
    color: #3D2A1A;
}

#box1 > a{
  color:#3D2A1A;
  text-decoration: none;
  font-weight: bold;
}

.descricao-produtos >a{
    text-decoration: none;
    color:#3D2A1A;
}


#menu{
    grid-area: b2;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    color: #3D2A1A;
    font-weight:bold;
    margin-top: -17VH;
    
}



#box12{
    grid-area:b12 ;
    width: 20vw;
    height: 53vh;
    background-color: rgb(223,203,190);
    border-radius: 8px;
    text-decoration: none;
    transition: 0.3s;
}

#box12:hover{
  transform: scale(1.03);
}

#box13{
    grid-area:b13 ;
    width: 20vw;
    height: 53vh;
    /* background-image: url(2.png); */
    background-color: rgb(223,203,190);
    border-radius: 8px;
    text-decoration: none;
    transition: 0.3s;
}

#box13:hover{
  transform: scale(1.03);
}

#box14{
    grid-area: b14;
    width: 20vw;
    height: 53vh;
    /* background-image: url(3.png); */
    background-color: rgb(223,203,190); 
    border-radius: 8px;
    text-decoration: none;
    transition: 0.3s;
}

#box14:hover{
  transform: scale(1.03);
}

#box15{
  
    grid-area: b15;
    width: 20vw;
    height: 53vh;
    /* background-image: url(4.png); */
    background-color: rgb(223,203,190);
    border-radius: 8px;
    text-decoration: none;
    transition: 0.3s;
}

#box15:hover{
  transform: scale(1.03);
}

.container-caixinhas2{
  display:grid;
  /* grid-template-columns: repeat(4, 25%);
  grid-template-rows: repeat(4, 25%) ; */
  grid-template-areas:
   'b16 b17 b18 b19'
   'b16 b17 b18 b19'
   'b20 b21 b22 b23'
   'b20 b21 b22 b23';
   justify-content: space-between;
   margin-left: 10vh;
   margin-right: 10vh;

}

#box16{
  margin-top: 5vh;
  grid-area: b16;
  width: 20vw;
  height: 53vh;
  /* background-image: url(4.png); */
  background-color: rgb(223,203,190);
  border-radius: 8px;
  text-decoration: none;
  transition: 0.3s;
}

#box16:hover{
transform: scale(1.03);
}

#box17{
  margin-top: 5vh;
  grid-area: b17;
  width: 20vw;
  height: 53vh;
  /* background-image: url(4.png); */
  background-color: rgb(223,203,190);
  border-radius: 8px;
  text-decoration: none;
  transition: 0.3s;
}

#box17:hover{
transform: scale(1.03);
}

#box18{
  margin-top: 5vh;
  grid-area: b18;
  width: 20vw;
  height: 53vh;
  /* background-image: url(4.png); */
  background-color: rgb(223,203,190);
  border-radius: 8px;
  text-decoration: none;
  transition: 0.3s;
}

#box18:hover{
transform: scale(1.03);
}

#box19{
  margin-top: 5vh;
  grid-area: b19;
  width: 20vw;
  height: 53vh;
  /* background-image: url(4.png); */
  background-color: rgb(223,203,190);
  border-radius: 8px;
  text-decoration: none;
  transition: 0.3s;
}

#box19:hover{
transform: scale(1.03);
}

#box20{
  margin-top: 10vh;
  grid-area: b20;
  width: 20vw;
  height: 53vh;
  /* background-image: url(4.png); */
  background-color: rgb(223,203,190);
  border-radius: 8px;
  text-decoration: none;
  transition: 0.3s;
}

#box20:hover{
transform: scale(1.03);
}

#box21{
  margin-top: 10vh;
  grid-area: b21;
  width: 20vw;
  height: 53vh;
  /* background-image: url(4.png); */
  background-color: rgb(223,203,190);
  border-radius: 8px;
  text-decoration: none;
  transition: 0.3s;
}

#box21:hover{
transform: scale(1.03);
}

#box22{
  margin-top: 10vh;
  grid-area: b22;
  width: 20vw;
  height: 53vh;
  /* background-image: url(4.png); */
  background-color: rgb(223,203,190);
  border-radius: 8px;
  text-decoration: none;
  transition: 0.3s;
}

#box22:hover{
transform: scale(1.03);
}

#box23{
  margin-top: 10vh;
  grid-area: b23;
  width: 20vw;
  height: 53vh;
  /* background-image: url(4.png); */
  background-color: rgb(223,203,190);
  border-radius: 8px;
  text-decoration: none;
  transition: 0.3s;
}

#box23:hover{
transform: scale(1.03);
}




.imgbox{
    margin: auto ;
    margin-top: 25px;
    height:30vh;
    width: 15vw;
    justify-content: center;
    /* border: 1px solid black; */

    
}



#imgbox12{
    
    background-image: url(/pages/img/prdt-especifico/image\ \(2\).png);
    background-position: center;
    background-size:230px;
    border-radius: 8px;
    
}

#imgbox13{
  
    background-image: url(/pages/img/prdt-especifico/image.png);
    background-position: center center;
    background-size:230px;
    border-radius: 8px;
}

#imgbox14{
    background-image: url(/pages/img/prdt-especifico/image\ \(4\).png);
    background-position: center center;
    background-size:230px;
    border-radius: 8px;
}

#imgbox15{
    background-image: url(/pages/img/prdt-especifico/image\ \(5\).png);
    background-position: center center;
    background-size:230px;
    border-radius: 8px;
}

#imgbox16{
  background-image: url(/pages/img/prdt-especifico/image\ \(5\).png);
  background-position: center center;
  background-size:230px;
  border-radius: 8px;
}

#imgbox17{
  background-image: url(/pages/img/prdt-especifico/image\ \(5\).png);
  background-position: center center;
  background-size:230px;
  border-radius: 8px;
}

#imgbox18{
  background-image: url(/pages/img/prdt-especifico/image\ \(5\).png);
  background-position: center center;
  background-size:230px;
  border-radius: 8px;
}

#imgbox19{
  background-image: url(/pages/img/prdt-especifico/image\ \(5\).png);
  background-position: center center;
  background-size:230px;
  border-radius: 8px;
}

#imgbox20{
  background-image: url(/pages/img/prdt-especifico/image\ \(5\).png);
  background-position: center center;
  background-size:230px;
  border-radius: 8px;
}

#imgbox21{
  background-image: url(/pages/img/prdt-especifico/image\ \(5\).png);
  background-position: center center;
  background-size:230px;
  border-radius: 8px;
}

#imgbox22{
  background-image: url(/pages/img/prdt-especifico/image\ \(5\).png);
  background-position: center center;
  background-size:230px;
  border-radius: 8px;
}

#imgbox23{
  background-image: url(/pages/img/prdt-especifico/image\ \(5\).png);
  background-position: center center;
  background-size:230px;
  border-radius: 8px;
}









.produtos{
    color: #0A250D;
}

.descricao-produtos{
    /* border: 1px solid black; */
    height:15vh;
}


#h1 {
    font-size: 1.2em;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    margin-left: 2vw;

}

#h2{
    font-size: 1.0em;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    margin-left: 2vw;
    margin-top:-1vh;
}


input > #box5{
    width: 2vh;
}


  .espaco-divs{
    display: flex;
    flex-direction: column;
    margin-top: 30px;
  }

  .espaco-botao{
    display: flex;
    justify-content: space-around;
    align-items: center;
   margin-top: 30px;
  }


  
  .botaoEnviar {
    width: 200px; /* Ajuste a largura conforme necessário */
    border-radius: 8px;
    border: none;
    color: white;
    padding: 16px;
    text-align: center;
    font-size: 16px;
    background-color: #4CAF50;
    transition-duration: 0.4s;
    cursor: pointer;
    font-weight:bold;
    font-family: 'Montserrat', sans-serif;
    transition: 0.3s;
    cursor: pointer;
    align-items: center;
  }

  .botaoEnviar:hover{
    transform: scale(1.03);
    
  }

  #minhaDiv {
    display: none; /* Oculta o conteúdo */
  }

  .menu {
    position: relative;
    display: inline-block;
    padding: 10px;
    background-color:rgb(255, 255, 255);
    

  }


  .menu .menu-titulo {
    cursor: pointer;
    font-family: 'Montserrat', sans-serif;
    transition: 0.3s;
  }

  .menu .menu-dropdown {
    position: absolute;
    display: none;
    background-color:#B49E88;
    min-width: 220px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    font-family: 'Montserrat', sans-serif;
    transition: 0.3s;
  }

  .menu .menu-item {
    padding: 12px 16px;
    cursor: pointer;
    transition: 0.3s;

  }

  .menu .menu-item:hover {
    background-color: #7e6750;
  }

  .menu:hover .menu-dropdown {
    display: block;
    
  }

  .menu-subtitulo {
    cursor: pointer;
  }

  .menu-dropdown-sub {
    display: none;
    background-color: #B49E88;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    position: absolute;
    top: 0;
    left: 100%;
    z-index: 1;
    transition: 0.3s;
  }

  .menu-item:hover .menu-dropdown-sub {
    display: block;
  }



  .rating {
    direction: rtl;
    margin-right: 17.2vh;
    font-size:5vh ;
    margin-top: -3vh;
  }


  .rating span {
    display:inline-block;
    width:3vh;
    cursor: pointer;
  }


  .rating span:before {
    content: "\2605";
  }


  .rating span:hover:before,
  .rating span:hover ~ span:before {
    content: "\2605";
    color: gold;
  }


  .rating input {
    display: none;
  }


  .rating input:checked ~ span:before {
    content: "\2605";
    color: gold;
  }



  footer{
    font-family: 'montserrat', sans-serif;
    background-color: #EBECF0;
    margin-top: 3vh;
}
footer p{
    color: black;
}
.contato p{
    margin-left: 0;
    font-size: 16px;
}
.linha{
    background-color: #093807;
    height: 2vh;
}
.linha2{
    background-color: #093807;

    height: 2vh;
}
.sublinhado{
    background-color: #093807;
    margin-top: -8%;
    height: 2%;
    width: 80%;
    margin-left: 2%;
}
.row1{
    display: flex;
    padding-top: 1%;
    justify-content: space-around;
}
.row1 a{
    color:black;
}
.row1 img{
    margin-top: -5%;
}
.col1 p{
    width: 70%;
    margin-left: 6%;
}
.col2{
    display: flex;
    flex-direction: column;
}
.col2 a{
    margin-top: 12%;
}
.col3{
    display: flex;
    flex-direction: column;
}
.col3 a{
    margin-top: 20%;
}
.col4{
    display: flex;
    flex-direction: column;
    width: 11%;
    margin-right: 5%;
}
.localizacao{
    display: flex;
    align-items: center;
}
.fone{
    display: flex;
    align-items: center;
}
.email{
    display: flex;
    align-items: center;
}
.contato{
    margin-top: 3%;
    margin-left: 2%;
}
.contato img{
    width: 2%;
    height: 2%;
    margin-right: 1%;
}
.lema{
    text-align: center;
    margin-right: 1%;
    margin-top: 2%;
    font-size: 16px;
}
.redes img{
    width: 25%;
    margin-top: 15%;
}
h4{
    font-size: 18px;
    margin-top: 2%;
}
#ilustra{
    margin-left: 52vw;
}