body {
    padding: 0;
    background-color: #EBECF0;
    margin: 0;
    width: auto;
    overflow-x: hidden; /* Impede a rolagem horizontal */
  }


/* menu principal */
.faixa1{
    background-color: #093807;
    display: flex;
    height: 8.8vh;
    align-items: center;  
    width:100%;
    position: fixed;  
    top: 0;
}



#logo{
    display: flex;
    height: 35vh;
    margin-left: -1vw;
}

.pesquisa{
    display: flex;
    background-color: white;
    height:2.5vw;
    align-items: center;
    border-radius: 1vw;
    width: 22vw;
    padding-left: 1vw;
    margin-left: 45vw;
    transition: 0.2s;
    justify-content: space-around;
}

.pesquisa:hover{
    background-color: rgb(211, 211, 211);
    cursor: pointer;

}

.pesquisa input{
    width:12vw ;
    background-color:transparent;
    font-family: 'Montserrat', sans-serif;
}

.pesquisa img {
    display:flex;
    height: 4vh;
}
@media screen and (max-width: 1150px){
    .pesquisa{
        margin-left: 30vw;
        height:5vh
    }
    .pesquisa img{
        height: 3.5vh;
    }
}
input{
    border: none;
    outline: none;
}

.entrar{
    display: flex;
    width: 10vw;
    margin-left: 3vw;
}
@media screen and (max-width: 1150px){
    .entrar{
        margin-left: 2vw;
    }
}

.entrar a{
    display: flex;
    width: 4vw;
    align-items: center;
    text-decoration: none;
}

.entrar img{
    width: 2vw;
}

.entrar p{
    padding: 0.3vw;
    margin-left: 0.2vw;
    transition: 0.3s;
}

.entrar p:hover {
    background-color: #429c4462;
    border-radius: 1vh;
    padding: 0.5vw;
}

.sacola img{
    width: 2vw;
}

.sacola a{
    display: flex;
    align-items: center;
    text-decoration: none;
    margin-right: 2vw;
}

.sacola p{
    margin-left: 0.76vw;
    transition: 0.3s;
}
@media screen and (max-width: 1150px){
    .sacola a {
        margin-right: 0.2vw;
        margin-left: 1vw
    }
}
.sacola p:hover {
    background-color: #429c4462;
    border-radius: 1vh;
    padding: 0.5vw;
}

/*Menu secundario*/

.faixa2{
    background-color: #429C44;
    height: 7.2vh;
   width: 100%;
    top: 8.7vh;
    position: fixed;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;
    
}

.opcoes a:hover {
    background-color: #254e2562;
    border-radius: 1vh;
    padding: 0.5vw;
}

.opcoes{
    display: flex;
    height: 3.5vw;
    align-items: center;
    margin-left:83vw;
    justify-content:space-around;
    width: 32.5vh;
}
.opcoes a {
    align-self: center;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    color: white;
    transition: 0.3s;
}
@media screen and (max-width: 1150px){
    .opcoes{
        margin-left:80vw;
        height: 100%;
        align-items: center;
        width: 26.5vh;
    }
}
#nos{
    display: flex;
}
 

p{
    color: white;
    font-size: 15px;
    font-weight: 400;
    font-family: 'Montserrat', sans-serif;
    margin-left: 4%;
}
body{
    background-color: #EBECF0;
    font-family: 'montserrat', sans-serif;
    color: #3D2A1A;
}
.valqtd{
    
    display: flex;
    margin-left: -4.2%;
    margin-top: 10%;
    height: 15%;
    align-items: center;
}
main{
    display: flex;
}
.sub{
    display: flex;
    align-items: baseline;
    height: 8%;
    width: 66%;
    justify-content: space-between;
}
.sub p{
    color: #3D2A1A;
    font-size: 18px;
    margin-left: 0;
    font-weight: 600;
}
.sub span{
    background-color: #DFCBBE;
    width: 70%;
    height:70%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    font-weight: 900;
}
.total{
    
    display: flex;
    align-items: baseline;
    height: 8%;
    width: 66%;
    justify-content: space-between;
}
.total p{
    color: #3D2A1A;
    font-size: 18px;
    margin-left: 0;
    font-weight: 600;
}
.total span{
    background-color: #DFCBBE;
    width: 50%;
    height: 70%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    font-weight: 900;
}
.itens{
    
    width: 70%;
    margin-left: 8%;
    margin-top: 1.5%;
}
.itens h1{
    margin-top: 16vh;
    display: flex;
    justify-content: center;
}
.itens h2{
    
    background-color: #DFCBBE;  
}
.itens p{
    background-color: #DFCBBE;
}
.item{
    
    display: flex;
    margin-top: 2%;  
}
.item img{
    width: 25%;
    border: solid 5px #848D43;
}

.item h2{
    width:85%;
    padding: 0.5% 3%;
    border-radius: 2px;
}
.freres{
    margin-top: 13vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
@media screen and (max-width: 1150px) and (min-height: 720px){
    .freres{
        margin-top: 18vh;
    }
    .itens h1{
        margin-top: 22vh;
    }
    .item img{
        height: 25%;
        margin-top: 2vh;
    }
}
.freres img{
    width: 100%;
    height: 90%;
}
.freres h2{
    width: 66%;
    display: flex;
    justify-content: center;
    margin-top: 4vh;
    margin-bottom: 0;
}
.botao{
    display: flex;
    justify-content: center;
    width: 66%;
    height: 7vh;
    flex-direction: column;
}
.confirmar{
    width: 50%;
    height: 7vh;
    border-radius: 8px;
    background-color: #093807;
    font-weight: 700;
    font-size: large;
    color: white;
    border: none;
    transition: 0.3s;
    margin: auto;
    
}
.confirmar:hover{
    transform: scale(1.05);
    transition: 0.3s;
}
#minhaDiv{
    margin-top: -2vh;
    margin-left: -1vw;
    display: none;
    width: 70vh;
}

#minhaDiv p{
    color: black;

}
.operadores{
    background-color: #B49E88;
    width: 30%;
    display: flex;
    justify-content: center;
    border-radius: 5px;
    cursor: pointer;
}
.quantity:hover{
   transform: scale(1.05);
   transition: 0.3s;
}
.qtd{
    background-color: #CDB9AA;
    width: 35%;
    display: flex;
    justify-content: center; 
    border-radius: 5px;
    height: 100%;
    align-items: center;
}
.cep{
    display: flex;
    background-color: #DFCBBE;
    width: 40%;
    margin-right: 6%;
    border-radius: 7px;
    padding: 0.5% 0 0.5% 1%;
    transition: 0.3s;
    font-family: 'montserrat', sans-serif;
}
.cep label{
    width: 10%;
}
.cep input{
    background-color:transparent;
    margin-left: 8%;
    font-family: 'montserrat', sans-serif;
}
.cep:hover{
   background-color: rgb(196, 166, 146);;
}
.frete{
    display: flex;  
}
.calcular{
    border: none;
    background-color: #B49E88;
    padding: 0 2% 0 2%;
    border-radius:7px;
    color: #3D2A1A;
    font-weight: 900;
    transition: 0.3s;
}
.calcular:hover{
    transform: scale(1.05);
    transition: 0.3s;
}

.descricao{
    margin-left: 5%;
    width: 60%;
}
.val{
    width: 50%;
    border-radius: 5px;
    color: #3D2A1A;
    font-weight: 800;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
}
.quantity{
    width: 20%;
    display: flex;
    background-color: #B49E88;
    border-radius: 5px;
    margin-left: 2%;
    align-items: center;
    color: white;
    font-weight: 700;
    transition: 0.3s;
    height: 100%;
}
.linha{
    margin-left: -5%;
    margin-top: 20vh;  
}




footer{
    margin-top: 16vh;
    font-family: 'montserrat', sans-serif;
    background-color: #EBECF0;
}
footer p{
    color: black;
}
.contato p{
    margin-left: 0;
    font-size: 16px;
}
.linha1{
    background-color: #093807;
    height: 2vh;
}
.linha2{
    background-color: #093807;

    height: 2vh;
}
.sublinhado{
    background-color: #093807;
    margin-top: -8%;
    height: 2%;
    width: 80%;
    margin-left: 2%;
}
.row1{
    display: flex;
    padding-top: 1%;
    justify-content: space-around;
}
.row1 a{
    color:black;
}
.row1 img{
    margin-top: -5%;
}
.col1 p{
    width: 70%;
    margin-left: 6%;
}
.col2{
    display: flex;
    flex-direction: column;
}
.col2 a{
    margin-top: 12%;
}
.col3{
    display: flex;
    flex-direction: column;
}
.col3 a{
    margin-top: 20%;
}
.col4{
    display: flex;
    flex-direction: column;
    width: 11%;
    margin-right: 5%;
}
.localizacao{
    display: flex;
    align-items: center;
}
.fone{
    display: flex;
    align-items: center;
    width: 30%;
}
.email{
    display: flex;
    align-items: center;
    margin-left: -10%;
}
.contato{
    width: 85%;
    display: flex;
    justify-content: space-between;
    height: 8vh;
    margin-left: 6%;
    margin-top: 2%;
}
.contato img{
    height: 50%;
    margin-right: 3%;
}
.localizacao img{
    margin-right: 5%;
}
.lema{
    margin-bottom: 3vh;
    text-align: center;
    margin-right: 1%;
    margin-top: 2%;
    font-size: 16px;
}
.redes img{
    width: 25%;
    margin-top: 15%;
}
h4{
    margin-bottom: 3vh;
    font-size: 18px;
    margin-top: 2%;
}
#ilustra{
    margin-left: 52vw;
}