body {
    padding: 0; /* Preenchimento */
    background-color: #EBECF0; /* Cor de fundo */
    margin: 0; /* Margem */
    width: auto; /* Largura automática */
    overflow-x: hidden; /* Impede a rolagem horizontal */
  }
  
  .faixa1 {
    background-color: #093807; /* Cor de fundo */
    display: flex; /* Exibir como um elemento flexível */
    height: 8.8vh; /* Altura */
    align-items: center; /* Alinhar conteúdo verticalmente ao centro */
    width: 100%; /* Largura */
    position: fixed; /* Posição fixa */
    top: 0; /* Fixado ao topo */
  }
  
  #logo {
    display: flex; /* Exibir como um elemento flexível */
    height: 35vh; /* Altura */
    margin-left: -1vw; /* Margem esquerda */
  }
  
  .pesquisa {
    display: flex; /* Exibir como um elemento flexível */
    background-color: white; /* Cor de fundo */
    height: 2.5vw; /* Altura */
    align-items: center; /* Alinhar conteúdo verticalmente ao centro */
    border-radius: 1vw; /* Raio da borda */
    width: 22vw; /* Largura */
    padding-left: 1vw; /* Preenchimento esquerdo */
    margin-left: 45vw; /* Margem esquerda */
    transition: 0.2s; /* Transição */
    justify-content: space-around; /* Alinhar conteúdo horizontalmente com espaçamento igual */
  }
  
  .pesquisa:hover {
    background-color: rgb(211, 211, 211); /* Cor de fundo ao passar o mouse */
    cursor: pointer; /* Cursor de mouse */
  }
  
  .pesquisa input {
    width: 12vw; /* Largura */
    background-color: transparent; /* Cor de fundo transparente */
    font-family: 'Montserrat', sans-serif; /* Fonte */
  }
  
  .pesquisa img {
    display: flex; /* Exibir como um elemento flexível */
    height: 4vh; /* Altura */
  }
  
  @media screen and (max-width: 1150px) {
    .pesquisa {
      margin-left: 30vw; /* Margem esquerda */
      height: 5vh; /* Altura */
    }
  
    .pesquisa img {
      height: 3.5vh; /* Altura */
    }
  }
  
  input {
    border: none; /* Sem borda */
    outline: none; /* Sem contorno */
  }
  
  .entrar {
    display: flex; /* Exibir como um elemento flexível */
    width: 10vw; /* Largura */
    margin-left: 3vw; /* Margem esquerda */
  }
  
  @media screen and (max-width: 1150px) {
    .entrar {
      margin-left: 2vw; /* Margem esquerda */
    }
  }
  
  .entrar a {
    display: flex; /* Exibir como um elemento flexível */
    width: 4vw; /* Largura */
    align-items: center; /* Alinhar conteúdo verticalmente ao centro */
    text-decoration: none; /* Sem decoração de texto */
  }
  
  .entrar img {
    width: 2vw; /* Largura */
  }
  
  .entrar p {
    padding: 0.3vw; /* Preenchimento */
    margin-left: 0.2vw; /* Margem esquerda */
    transition: 0.3s; /* Transição */
  }
  
  .entrar p:hover {
    background-color: #429c4462; /* Cor de fundo ao passar o mouse */
    border-radius: 1vh; /* Raio da borda */
    padding: 0.5vw; /* Preenchimento */
  }
  
  .sacola img {
    width: 2vw; /* Largura */
  }
  
  .sacola a {
    display: flex; /* Exibir como um elemento flexível */
    align-items: center; /* Alinhar conteúdo verticalmente ao centro */
    text-decoration: none; /* Sem decoração de texto */
    margin-right: 2vw; /* Margem direita */
  }
  
  .sacola p {
    margin-left: 0.76vw; /* Margem esquerda */
    transition: 0.3s; /* Transição */
  }
  
  @media screen and (max-width: 1150px) {
    .sacola a {
      margin-right: 0.2vw; /* Margem direita */
      margin-left: 1vw; /* Margem esquerda */
    }
  }
  
  .sacola p:hover {
    background-color: #429c4462; /* Cor de fundo ao passar o mouse */
    border-radius: 1vh; /* Raio da borda */
    padding: 0.5vw; /* Preenchimento */
  }
  
/*Menu segunda faixa*/
.faixa2 {
    background-color: #429C44; /* Cor de fundo */
    height: 7.2vh; /* Altura */
    width: 100%; /* Largura */
    top: 8.7vh; /* Distância do topo */
    position: fixed; /* Posição fixa */
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px; /* Sombra */
  }
  
  .opcoes a:hover {
    background-color: #254e2562; /* Cor de fundo ao passar o mouse */
    border-radius: 1vh; /* Raio da borda */
    padding: 0.5vw; /* Preenchimento */
  }
  
  .opcoes {
    display: flex; /* Exibir como um elemento flexível */
    height: 3.5vw; /* Altura */
    align-items: center; /* Alinhar conteúdo verticalmente ao centro */
    margin-left: 83vw; /* Margem esquerda */
    justify-content: space-around; /* Alinhar conteúdo horizontalmente com espaçamento igual */
    width: 32.5vh; /* Largura */
  }
  
  .opcoes a {
    align-self: center; /* Alinhamento próprio ao centro */
    text-decoration: none; /* Sem decoração de texto */
    font-family: 'Montserrat', sans-serif; /* Fonte */
    color: white; /* Cor do texto */
    transition: 0.3s; /* Transição */
  }
  
  @media screen and (max-width: 1150px) and (min-height: 720px) {
    .opcoes {
      margin-left: 80vw; /* Margem esquerda */
      height: 100%; /* Altura */
      align-items: center; /* Alinhar conteúdo verticalmente ao centro */
      width: 26.5vh; /* Largura */
    }
  }
  
  #nos {
    display: flex; /* Exibir como um elemento flexível */
  }
  
  p {
    color: white; /* Cor do texto */
    font-size: 15px; /* Tamanho da fonte */
    font-weight: 400; /* Peso da fonte */
    font-family: 'Montserrat', sans-serif; /* Fonte */
    margin-left: 4%; /* Margem esquerda */
  }
  
  .mulher {
    height: 85vh; /* Altura */
    border: solid 1px #CED7D2; /* Borda sólida */
    margin: 0; /* Margem */
  }
  
  main {
    background-color: #EBECF0; /* Cor de fundo */
    display: flex; /* Exibir como um elemento flexível */
    margin-top: 15vh; /* Margem superior */
  }
  
  .texto {
    width: 50%; /* Largura */
    text-align: justify; /* Alinhamento do texto */
    margin: auto; /* Margem automática */
    margin-left: 4%; /* Margem esquerda */
  }
  
  .texto p {
    color: #000000; /* Cor do texto */
    font-size: 18px; /* Tamanho da fonte */
    font-weight: 500; /* Peso da fonte */
  }
  
  @media screen and (max-width: 1150px) and (min-height: 720px) {
    .mulher {
      height: 60vh; /* Altura */
    }
  
    main {
      margin-top: 30vh; /* Margem superior */
    }
  
    .texto {
      margin-left: 2%; /* Margem esquerda */
    }
  }
  
  body {
    background-color: #EBECF0; /* Cor de fundo */
  }
  
  footer {
    font-family: 'montserrat', sans-serif; /* Fonte */
    background-color: #EBECF0; /* Cor de fundo */
  }
  
  @media screen and (max-width: 1150px) and (min-height: 720px) {
    footer {
      margin-top: 10vh; /* Margem superior */
    }
  }
  
  footer p {
    color: black; /* Cor do texto */
  }
  
  .contato p {
    margin-left: 0; /* Margem esquerda */
    font-size: 16px; /* Tamanho da fonte */
  }
  
  .linha {
    background-color: #093807; /* Cor de fundo */
    height: 2vh; /* Altura */
  }
  
  .linha2 {
    background-color: #093807; /* Cor de fundo */
    height: 2vh; /* Altura */
  }
  
  .sublinhado {
    background-color: #093807; /* Cor de fundo */
    margin-top: -8%; /* Margem superior negativa */
    height: 2%; /* Altura */
    width: 80%; /* Largura */
    margin-left: 2%; /* Margem esquerda */
  }
  
  .row1 {
    display: flex; /* Exibir como um elemento flexível */
    padding-top: 1%; /* Preenchimento superior */
    justify-content: space-around; /* Alinhar conteúdo horizontalmente com espaçamento igual */
  }
  
  .row1 a {
    color: black; /* Cor do texto */
  }
  
  .row1 img {
    margin-top: -5%; /* Margem superior negativa */
  }
  
  .col1 p {
    width: 70%; /* Largura */
    margin-left: 6%; /* Margem esquerda */
  }
  
  .col2 {
    display: flex; /* Exibir como um elemento flexível */
    flex-direction: column; /* Direção da coluna */
  }
  
  .col2 a {
    margin-top: 12%; /* Margem superior */
  }
  
  .col3 {
    display: flex; /* Exibir como um elemento flexível */
    flex-direction: column; /* Direção da coluna */
  }
  
  .col3 a {
    margin-top: 20%; /* Margem superior */
  }
  
  .col4 {
    display: flex; /* Exibir como um elemento flexível */
    flex-direction: column; /* Direção da coluna */
    width: 11%; /* Largura */
    margin-right: 5%; /* Margem direita */
  }
  
  .localizacao {
    display: flex; /* Exibir como um elemento flexível */
    align-items: center; /* Alinhar conteúdo verticalmente ao centro */
  }
  
  .fone {
    display: flex; /* Exibir como um elemento flexível */
    align-items: center; /* Alinhar conteúdo verticalmente ao centro */
    width: 30%; /* Largura */
  }
  
  .email {
    display: flex; /* Exibir como um elemento flexível */
    align-items: center; /* Alinhar conteúdo verticalmente ao centro */
    margin-left: -10%; /* Margem esquerda negativa */
  }
  
  .contato {
    width: 85%; /* Largura */
    display: flex; /* Exibir como um elemento flexível */
    justify-content: space-between; /* Alinhar conteúdo horizontalmente com espaçamento igual */
    height: 8vh; /* Altura */
    margin-left: 6%; /* Margem esquerda */
    margin-top: 2%; /* Margem superior */
  }
  
  .contato img {
    height: 50%; /* Altura */
    margin-right: 3%; /* Margem direita */
  }
  
  .localizacao img {
    margin-right: 5%; /* Margem direita */
  }
  
  .lema {
    text-align: center; /* Alinhar texto ao centro */
    margin-right: 1%; /* Margem direita */
    margin-top: 2%; /* Margem superior */
    font-size: 16px; /* Tamanho da fonte */
  }
  
  .redes img {
    width: 25%; /* Largura */
    margin-top: 15%; /* Margem superior */
  }
  
  h4 {
    font-size: 18px; /* Tamanho da fonte */
    margin-top: 2%; /* Margem superior */
  }

  