body {
    padding: 0;
    background-color: #EBECF0;
    margin: 0;
    width: auto;
    overflow-x: hidden;
    /* Impede a rolagem horizontal */
}


/* menu principal */
.faixa1 {
    background-color: #093807;
    display: flex;
    height: 8.8vh;
    align-items: center;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 9999;/* impede que outros elementos se sobreponham */
}



#logo {
    display: flex;
    height: 35vh;
    margin-left: -1vw;
}

.pesquisa {
    display: flex;
    background-color: white;
    height: 2.5vw;
    align-items: center;
    border-radius: 1vw;
    width: 22vw;
    padding-left: 1vw;
    margin-left: 45vw;
    transition: 0.2s;
    justify-content: space-around;
}

.pesquisa:hover {
    background-color: rgb(211, 211, 211);
    cursor: pointer;

}

.pesquisa input {
    width: 12vw;
    background-color: transparent;
    font-family: 'Montserrat', sans-serif;
}

.pesquisa img {
    display: flex;
    height: 4vh;
}

@media screen and (max-width: 1150px) {
    .pesquisa {
        margin-left: 30vw;
        height: 5vh
    }

    .pesquisa img {
        height: 3.5vh;
    }
}

input {
    border: none;
    outline: none;
}

.entrar {
    display: flex;
    width: 10vw;
    margin-left: 3vw;
}

@media screen and (max-width: 1150px) {
    .entrar {
        margin-left: 2vw;
    }
}

.entrar a {
    display: flex;
    width: 4vw;
    align-items: center;
    text-decoration: none;
}

.entrar img {
    width: 2vw;
}

.entrar p {
    padding: 0.3vw;
    margin-left: 0.2vw;
    transition: 0.3s;
}

.entrar p:hover {
    background-color: #429c4462;
    border-radius: 1vh;
    padding: 0.5vw;
}

.sacola img {
    width: 2vw;
}

.sacola a {
    display: flex;
    align-items: center;
    text-decoration: none;
    margin-right: 2vw;
}

.sacola p {
    margin-left: 0.76vw;
    transition: 0.3s;
}

@media screen and (max-width: 1150px) {
    .sacola a {
        margin-right: 0.2vw;
        margin-left: 1vw
    }
}

.sacola p:hover {
    background-color: #429c4462;
    border-radius: 1vh;
    padding: 0.5vw;
}

/*Menu secundario*/

.faixa2 {
    background-color: #429C44;
    height: 7.2vh;
    width: 100%;
    top: 8.7vh;
    position: fixed;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;
    z-index: 9999;/* impede que outros elementos se sobreponham */
}

.opcoes a:hover {
    background-color: #254e2562;
    border-radius: 1vh;
    padding: 0.5vw;
}

.opcoes {
    display: flex;
    height: 3.5vw;
    align-items: center;
    margin-left: 83vw;
    justify-content: space-around;
    width: 32.5vh;
}

.opcoes a {
    align-self: center;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    color: white;
    transition: 0.3s;
}

@media screen and (max-width: 1150px) {
    .opcoes {
        margin-left: 80vw;
        height: 100%;
        align-items: center;
        width: 26.5vh;
    }
}

#nos {
    display: flex;
}

header p {
    color: white;
    font-family: 'Montserrat', sans-serif;
    margin-left: 2vw;
}


.produto-especifico {
    display: flex;
    /* border: 1px solid black; */
    margin-top: 20vh;

}



.imgs{
    margin-left: 17vh;
    /* border: 1px solid black; */
    width: 14.5vh;
    display: grid;
    cursor: pointer;
    border-radius: 6px;
}

@media screen (max-width: 1300px) and (min-height:720px) { /* ajuste tamanho de tela */
    .imgs{
        margin-left: 1vh;
        /* border: 1px solid black; */
        width: 14.5vh;
        display: grid;
        cursor: pointer;
        border-radius: 6px;
    }
  }

 @media screen (max-width: 1300px) and (min-height:720px) { /* ajuste tamanho de tela */
    .imagens-produtos {
        display:flex;
        width: 17vw;
        height: 70vh;
        justify-content: space-between;
    }
  }

 .imagens-produtos {
    display: grid;
    width: 17vw;
    height: 70vh;
    justify-content: space-between;
}

#img1 {
    display: flex;
    transition: transform 0.3s;
}

#img1:hover {
    transform: scale(1.07);
}

#img2 {
    display: flex;
    transition: transform 0.3s;
}

#img2:hover {
    transform: scale(1.07);
}

#img3 {
    display: flex;
    transition: transform 0.3s;
}

#img3:hover {
    transform: scale(1.07);
}

#img4 {
    display: flex;
    transition: transform 0.3s;
}

#img4:hover {
    transform: scale(1.07);
}


.img {
    /* background-color: #857c9e; */
    /* border: 1px solid black; */
    height: 67.5vh;
    display: flex;
}


.descricao-produto {
    /* border: 1px solid black; */
    height: fit-content;
    width: fit-content;
    margin-left: 5vh;
    margin-top: 5vh;

}

.plv-produtos {
    /* border: 1px solid black; */
    width: 500px;

}


#plv1 {
    /* border: 1px solid black; */
    font-family: 'Montserrat', sans-serif;
    height: 14vh;
    font-weight: bold;
    font-size: 35px;
    margin-left: 2vh;
    margin-top: 3vh;
    display: flex;
    align-items: end;
    color: #3D2A1A;
}

#plv2 {
    /* border: 1px solid black; */
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 35px;
    margin: 10px;
    display: flex;
    color: #3D2A1A;
}

#plv3 {
    /* border: 1px solid black; */
    height: 20px;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    margin-left: 2vh;
    margin-top: 20px;
    display: flex;
}


#plv4 {
    /* border: 1px solid black; */
    color: #3D2A1A;
    height: 40px;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 20px;
    margin: 10px;
    display: flex;
    margin-left: 2vh;
}



#plv5 {
    /* border: 1px solid black; */
    height: 50px;

}

#plv6 {
    display: flex;
    /* border: 1px solid black; */
    align-items: center;

}

.frete {
    display: grid;
    width: 500px;

}

.cep input {
    background-color: #DFCBBE;
    margin-left: 2px;
    width: 110px;
}

input {
    border: none;
    outline: none;
    width: 130px;
    font-family: 'Montserrat', sans-serif;
}

.cep {
    display: flex;
    background-color: #DFCBBE;
    width: 160px;
    border-radius: 7px;
    padding: auto;
    height: 30px;
    margin-left: 2vh;
    align-items: center;
}

.calcular {
    border: none;
    background-color: #B49E88;
    padding: 0 2% 0 2%;
    height: 30px;
    width: 80px;
    border-radius: 7px;
    margin-left: 20px;
    font-family: 'Montserrat', sans-serif;
    transition: 0.3s;
    cursor: pointer;
}

.calcular:hover {
    transform: scale(1.075);
}

.cep img {

    width: 20px;
    padding: 5px;
    margin-top: 2px;
}



#plv7 {
    /* border: 1px solid black; */
    display: flex;
    align-items: center;
}

.botao button {
    background-color: #144d04;
    color: white;
    font-family: 'Montserrat', sans-serif;
    height: 70px;
    border-radius: 7px;
    width: 300px;
    border: none;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
}

.botao {

    display: flex;
    align-items: center;
    height: 100px;
    margin-left: 2vh;
    width: 100%;
    transition: 0.3s;
}

.botao:hover {
    transform: scale(1.05);
}

.espaco-botao {
    display: flex;
    justify-content: space-around;
    align-items: center;
}



.botaoEnviar {
    width: 300px;
    border-radius: 8px;
    border: none;
    color: white;
    padding: 16px;
    text-align: center;
    font-size: 16px;
    background-color: #4CAF50;
    transition-duration: 0.4s;
    cursor: pointer;
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
    transition: 0.3s;
    cursor: pointer;
    align-items: center;
}

.botaoEnviar:hover {
    transform: scale(1.03);

}

botaoEnviar {
    text-decoration: none;
}

#minhaDiv {
    display: none;
    /* Oculta o conteúdo */
}

.descricao-escondida p {
    margin-top: 9vh;
    margin-left: 8vw;
    width: 50vw;
    border-radius: 2vh;
    text-align: justify;
    /* border: 1px solid black; */
    font-family: 'montserrat', sans-serif;
}



body {
    background-color: #EBECF0;
    margin: auto;
}



footer {
    font-family: 'montserrat', sans-serif;
    background-color: #EBECF0;
    margin-top: 9vh;
}

footer p {
    color: black;
}

.contato p {
    margin-left: 0;
    font-size: 16px;
}

.linha {
    background-color: #093807;
    height: 2vh;
}

.linha2 {
    background-color: #093807;

    height: 2vh;
}

.sublinhado {
    background-color: #093807;
    margin-top: -8%;
    height: 2%;
    width: 80%;
    margin-left: 2%;
}

.row1 {
    display: flex;
    padding-top: 1%;
    justify-content: space-around;
}

.row1 a {
    color: black;
}

.row1 img {
    margin-top: -5%;
}

.col1 p {
    width: 70%;
    margin-left: 6%;
}

.col2 {
    display: flex;
    flex-direction: column;
}

.col2 a {
    margin-top: 12%;
}

.col3 {
    display: flex;
    flex-direction: column;
}

.col3 a {
    margin-top: 20%;
}

.col4 {
    display: flex;
    flex-direction: column;
    width: 11%;
    margin-right: 5%;
}

.localizacao {
    display: flex;
    align-items: center;
}

.fone {
    display: flex;
    align-items: center;
    width: 30%;

}

.email {
    display: flex;
    align-items: center;
    margin-left: -10%;
}

.contato {
    width: 85%;
    display: flex;
    justify-content: space-between;
    height: 8vh;
    margin-left: 6%;
    margin-top: 2%;
}

.contato img {
    height: 50%;
    margin-right: 3%;
}

.localizacao img {
    margin-right: 5%;
}

.lema {
    text-align: center;
    margin-right: 1%;
    margin-top: 2%;
    font-size: 16px;
}

.redes img {
    width: 25%;
    margin-top: 15%;
}

h4 {
    font-size: 18px;
    margin-top: 2%;
}

#ilustra {
    margin-left: 52vw;
}