body {
    padding: 0;
    background-color: rgb(255, 255, 255);
    margin: 0;
    width: auto;
    overflow-x: hidden; /* Impede a rolagem horizontal */
  }


/* menu principal */

.faixa1{
    background-color: #093807;
    display: flex;
    height: 8.8vh;
    align-items: center;  
    width:auto;
    
}


#logo{
    display: flex;
    height: 35vh;
    margin-left: -1vw;
}

.pesquisa{
    display: flex;
    background-color: white;
    height:2.5vw;
    align-items: center;
    border-radius: 1vw;
    width: 22vw;
    padding-left: 1vw;
    margin-left: 45vw;
    transition: 0.2s;
    justify-content: space-around;
}

.pesquisa:hover{
    background-color: rgb(211, 211, 211);
    cursor: pointer;

}

.pesquisa input{
    width:12vw ;
    background-color:transparent;
    font-family: 'Montserrat', sans-serif;
}

.pesquisa img {
    display:flex;
    height: 4vh;
}

input{
    border: none;
    outline: none;
}

.entrar{
    display: flex;
    width: 10vw;
    margin-left: 3vw;
}


.entrar a{
    display: flex;
    width: 4vw;
    align-items: center;
    text-decoration: none;
}

.entrar img{
    width: 2vw;
}

.entrar p{
    padding: 0.3vw;
    margin-left: 0.2vw;
    transition: 0.3s;
}

.entrar p:hover {
    background-color: #429c4462;
    border-radius: 1vh;
    padding: 0.5vw;
}

.sacola img{
    width: 2vw;
}

.sacola a{
    display: flex;
    align-items: center;
    text-decoration: none;
    margin-right: 2vw;
}

.sacola p{
    margin-left: 0.76vw;
    transition: 0.3s;
}

.sacola p:hover {
    background-color: #429c4462;
    border-radius: 1vh;
    padding: 0.5vw;
}

/*Menu secundario*/

.faixa2{
    background-color: #429C44;
    height: 7.2vh;
    width: auto;
}

.opcoes a:hover {
    background-color: #254e2562;
    border-radius: 1vh;
    padding: 0.5vw;
}

.opcoes{
    display: flex;
    height: 3.5vw;
    align-items: center;
    margin-left:83vw;
    justify-content:space-around;
    width: 32.5vh;
}
.opcoes a {
    align-self: center;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    color: white;
    transition: 0.3s;
}

#nos{
    display: flex;
}

p{
    color: white;
    font-size: 16px;
    font-weight: 400;
    font-family: 'Montserrat', sans-serif;
    margin-left: 4%;
}

main{
    display: flex;
    background-color: #EBECF0;
}
#prato{
    margin-left: 8vw;
    height: 84vh;
}
.texto{
    width: 100%;
    margin-left: 8%;
}
.texto p{
    color: black;
}
.letrinha{
    font-size: 25px;
    margin-top:5vh ;
}
.letrao{
    font-family: 'League Gothic', sans-serif;
    font-size: 140px;
    line-height: 140px;
    margin-top:0;
}


footer{
    font-family: 'montserrat', sans-serif;
    background-color: #EBECF0;
}
footer p{
    color: black;
}
.contato p{
    margin-left: 0;
    font-size: 16px;
}
.linha{
    background-color: #093807;
    height: 2vh;
}
.linha2{
    background-color: #093807;

    height: 2vh;
}
.sublinhado{
    background-color: #093807;
    margin-top: -8%;
    height: 2%;
    width: 80%;
    margin-left: 2%;
}
.row1{
    display: flex;
    padding-top: 1%;
    justify-content: space-around;
}
.row1 a{
    color:black;
}
.row1 img{
    margin-top: -5%;
}
.col1 p{
    width: 70%;
    margin-left: 6%;
}
.col2{
    display: flex;
    flex-direction: column;
}
.col2 a{
    margin-top: 12%;
}
.col3{
    display: flex;
    flex-direction: column;
}
.col3 a{
    margin-top: 20%;
}
.col4{
    display: flex;
    flex-direction: column;
    width: 11%;
    margin-right: 5%;
}
.localizacao{
    display: flex;
    align-items: center;
}
.fone{
    display: flex;
    align-items: center;
    width: 30%; // 
    
}
.email{
    display: flex;
    align-items: center;
    margin-left: -10%; //
}
.contato{
    width: 85%;
    display: flex;
    justify-content: space-between;
    height: 8vh;
    margin-left: 6%;
    margin-top: 2%; //
}
.contato img{
    height: 50%;
    margin-right: 3%; //
}
.localizacao img{
    margin-right: 5%; // 
}
.lema{
    text-align: center;
    margin-right: 1%;
    margin-top: 2%;
    font-size: 16px;
}
.redes img{
    width: 25%;
    margin-top: 15%;
}
h4{
    font-size: 18px;
    margin-top: 2%;
}
#ilustra{
    margin-left: 52vw;
}