<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8">
  <link
    href="https://fonts.googleapis.com/css2?family=Fira+Sans+Condensed:ital,wght@0,400;1,100&family=League+Gothic&family=Montserrat:ital,wght@0,300;1,300;1,600&display=swap"
    rel="stylesheet">
  <link
    href="https://fonts.googleapis.com/css2?family=Fira+Sans+Condensed:ital,wght@0,400;1,100&family=League+Gothic&display=swap"
    rel="stylesheet">
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
  <meta http-equiv="X-UA-Compatible" escondido="IE=edge">
  <meta name="viewport" escondido="width=device-width, initial-scale=1.0">
  <title>Health Box</title>
  <link rel="stylesheet" type="text/css" href="assets/prod.css">
  <script src="/pages/scripts/produtos.js"></script>
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
</head>

<body>

  <header>  <!-- menu -->
    <div class="faixa1">
      <!-- Logotipo -->
      <a href="/"><img src="/pages/img/inicio/logo-br.png" alt="" id="logo" /></a>
      <!-- Barra de pesquisa -->
      <div class="pesquisa">
        <input type="text" name="" id="" placeholder="Pesquisar" />
        <img src="http://www.devmedia.com.br/imagens/2013/buscar_grey.png" alt="" style="transform: scaleX(-1)"
          class="lupa" />
      </div>
      <% if (typeof nomeUsuario !=='undefined' ) { %>
        <!-- Se o usuário estiver logado -->
        <div class="entrar">
          <a href="/pages/minha-conta">
            <img src="/pages/img/produto-img/bonequinho.png" alt="" />
            <p id="nomeUsuario">
              <%= nomeUsuario %>
            </p>
          </a>
        </div>
        <% } else { %>
          <!-- Se o usuário não estiver logado -->
          <div class="entrar">
            <a href="/pages/login.html">
              <img src="/pages/img/produto-img/bonequinho.png" alt="" />
              <p id="nomeUsuario">Entrar</p>
            </a>
          </div>
          <% } %>
            <% if (typeof nomeUsuario !=='undefined' ) { %>
              <!-- Se o usuário estiver logado -->
              <div class="sacola">
                <a href="/pages/sacola">
                  <img src="/pages/img/inicio/bag.png" alt="" />
                  <p>Sacola</p>
                </a>
                <% } else { %>
                  <!-- Se o usuário não estiver logado -->
                  <div class="sacola">
                    <a href="/pages/login.html">
                      <img src="/pages/img/inicio/bag.png" alt="" />
                      <p>Sacola</p>
                    </a>
                    <% } %>
                  </div>
              </div>
    </div>

    <!-- Opções de navegação -->
    <div class="faixa2">
      <div class="opcoes">
        <a href="/pages/produtos">Produtos</a>
        <a href="/pages/sobre-nos">Sobre nós</a>
      </div>
    </div>
  </header> <!-- fim do menu -->
 

  <div class="container-descricao"> <!-- exibir todos os produtos e titulo -->
    <div id="box1" class="box-descricao">
      <a href="/pages/produtos">
        <p>TODOS OS PRODUTOS</p>
      </a>
    </div>
  </div>

  <div class="container-caixinhas"> <!-- Início da primeira caixa de produto -->
    <div id="box12">
      <a href="/pages/tela-produto.html">
        <div id="imgbox12" class="imgbox"></div> <!-- Imagem do produto -->
      </a>
      <div class="descricao-produtos">
        <a href="/pages/tela-produto">
          <h1 class="h1">DIETA -7KG EM 7 DIAS</h1> <!-- Título do produto -->
        </a>
        <h2 id=preco12>R$ 200,00</h2> <!-- Preço do produto -->
        <div class="espaco-botaoVer">
          <button type="button" class="botaoVer">
            <a href="/pages/tela-produto">VER MAIS</a> <!-- Botão "VER MAIS" -->
          </button>
        </div>
      </div>
    </div>
    <!-- Fim da primeira caixa de produto -->

    <!-- Repetição da estrutura para as demais caixas de produto -->
    <div id="box13">
      <a href="/pages/tela-produto.html">
        <div id="imgbox13" class="imgbox"></div>
      </a>
      <div class="descricao-produtos">
        <a href="/pages/tela-produto">
          <h1 class="h1">DIETA -15KG EM 15 DIAS</h1>
        </a>
        <h2 id="preco13">R$ 400,00</h2>
        <div class="espaco-botaoVer">
          <button type="button" class="botaoVer">
            <a href="/pages/tela-produto">VER MAIS</a>
          </button>
        </div>
      </div>
    </div>

    <div id="box14">
      <a href="/pages/tela-produto.html">
        <div id="imgbox14" class="imgbox"></div>
      </a>
      <div class="descricao-produtos">
        <a href="/pages/tela-produto">
          <h1 class="h1">DIETA -7KG EM 7 DIAS</h1>
          <div>
            <h1 id="lactose7">SEM LACTOSE</h1>
            <h2 id="preco14">R$ 250,00</h2>
          </div>
        </a>
        <div class="espaco-botaoVer">
          <button type="button" class="botaoVer">
            <a href="/pages/tela-produto">VER MAIS</a>
          </button>
        </div>
      </div>
    </div>


    <div id="box15">
      <a href="/pages/tela-produto.html">
        <div id="imgbox15" class="imgbox"></div>
      </a>
      <div class="descricao-produtos"><a href="/pages/tela-produto">
          <h1 class="h1">DIETA -7KG EM 7 DIAS</h1>
          <div>
            <h1 id="gluten7"> SEM GLÚTEN</h1>
            <h2 id="preco15">R$ 300,00</h2>
          </div>
        </a>


        <div class="espaco-botaoVer">
          <button type="button" class="botaoVer"><a href="/pages/tela-produto">VER MAIS</a></button>
        </div>

      </div>
    </div>
  </div>

  <div class="espaco-divs">

    <div id="minhaDiv" class="escondido" onclick="toggleDiv()">

      <!-- Início da segunda seção de caixas de produtos -->
      <div class="container-caixinhas2">

        <div id="box16">
          <a href="/pages/tela-produto">
            <div id="imgbox16" class="imgbox"></div>
          </a>
          <div class="descricao-produtos"><a href="/pages/tela-produto">
              <h1 class="h1">DIETA -15KG EM 15 DIAS</h1>
              <div>
                <h1 id="lactose15">SEM LACTOSE</h1>
                <h2 id="preco16">R$ 450,00</h2>
              </div>
            </a>


            <div class="espaco-botaoVer">
              <button type="button" class="botaoVer"><a href="/pages/tela-produto">VER MAIS</a></button>
            </div>

          </div>
        </div>

        <!-- Repetição para as demais caixas de produto -->
        <div id="box17">
          <a href="/pages/tela-produto">
            <div id="imgbox17" class="imgbox"></div>
          </a>
          <div class="descricao-produtos"><a href="/pages/tela-produto">
              <h1 class="h1">DIETA -15KG EM 15 DIAS</h1>
              <div>
                <h1 id="gluten15">SEM GLÚTEN</h1>
                <h2 id="preco17">R$ 500,00</h2>
              </div>
            </a>

            <div class="espaco-botaoVer">
              <button type="button" class="botaoVer"><a href="/pages/tela-produto">VER MAIS</a></button>
            </div>

          </div>
        </div>

        <div id="box18">
          <a href="/pages/tela-produto">
            <div id="imgbox18" class="imgbox"></div>
          </a>
          <div class="descricao-produtos"><a href="/pages/tela-produto">
              <h1 class="h1">DIETA -7KG EM 7 DIAS</h1>
              <div>
                <h1 id="APLV7">APLV</h1>
                <h2 id="preco18">R$ 300,00</h2>
              </div>
            </a>

            <div class="espaco-botaoVer">
              <button type="button" class="botaoVer"><a href="/pages/tela-produto">VER MAIS</a></button>
            </div>
          </div>
        </div>

        <div id="box19">
          <a href="/pages/tela-produto">
            <div id="imgbox19" class="imgbox"></div>
          </a>
          <div class="descricao-produtos"><a href="/pages/tela-produto">
              <h1 class="h1">DIETA -15KG EM 15 DIAS</h1>
              <div>
                <h1 id="APLV15">APLV</h1>
                <h2 id="preco19">R$ 500,00</h2>
              </div>
            </a>

            <div class="espaco-botaoVer">
              <button type="button" class="botaoVer"><a href="/pages/tela-produto">VER MAIS</a></button>
            </div>
          </div>
        </div>

        <div id="box20">
          <a href="/pages/tela-produto.html">
            <div id="imgbox20" class="imgbox"></div>
          </a>
          <div class="descricao-produtos"><a href="/pages/tela-produto">
              <h1 class="h1">DIETA -7KG EM 7 DIAS</h1>
              <div>
                <h1 id="ovo">SEM OVO</h1>
                <h2 id="preco20">R$ 250,00</h2>
              </div>
            </a>

            <div class="espaco-botaoVer">
              <button type="button" class="botaoVer"><a href="/pages/tela-produto">VER MAIS</a></button>
            </div>
          </div>
        </div>

        <div id="box21">
          <a href="/pages/tela-produto">
            <div id="imgbox21" class="imgbox"></div>
          </a>
          <div class="descricao-produtos"><a href="/pages/tela-produto">
              <h1 class="h1">DIETA -15KG EM 15 DIAS</h1>
              <div>
                <h1 id="fruto">FRUTOS DO MAR</h1>
                <h2 id="preco21">R$ 450,00</h2>
              </div>
            </a>

            <div class="espaco-botaoVer">
              <button type="button" class="botaoVer"><a href="/pages/tela-produto">VER MAIS</a></button>
            </div>
          </div>
        </div>

        <div id="box22">
          <a href="/pages/tela-produto">
            <div id="imgbox22" class="imgbox"></div>
          </a>
          <div class="descricao-produtos"><a href="/pages/tela-produto">
              <h1 class="h1">DIETA -15KG EM 15 DIAS</h1>
              <div>
                <h1 id="vegana">VEGANA</h1>
                <h2 id="preco22">R$ 550,00</h2>
              </div>
            </a>

            <div class="espaco-botaoVer">
              <button type="button" class="botaoVer"><a href="/pages/tela-produto ">VER MAIS</a></button>
            </div>
          </div>
        </div>

        <div id="box23">
          <a href="/pages/tela-produto">
            <div id="imgbox23" class="imgbox"></div>
          </a>
          <div class="descricao-produtos"><a href="/pages/tela-produto">
              <h1 class="h1">DIETA -7KG EM 7 DIAS</h1>
              <div>
                <h1  id="veget">VEGETARIANA</h1>
                <h2 id="preco-23">R$ 300,00</h2>
              </div>
            </a>

            <div class="espaco-botaoVer">
              <button type="button" class="botaoVer"><a href="/pages/tela-produto">VER MAIS</a></button>
            </div>
          </div>
        </div>
      </div>
    </div>

<!-- BOTÃO CARREGAR MAIS PRODUTOS -->
    <div class="espaco-botao">
      <input type="button" id="meuBotao" name="botao" value="CARREGAR MAIS" class="botaoEnviar" onclick="toggleDiv()">
    </div>

  </div>

 <!-- cabeçalho -->

  <footer> 
    <div class="linha"></div>
    <div class="verdinho">
      <div class="row1">
        <div class="col1">
          <img src="/pages/img/inicio/logo (2).png" alt="">
          <div class="sublinhado"></div>
          <p class="lema">Tornando a sua vida mais saudável</p>
        </div>
        <div class="col2">
          <h4>Institucional</h4>
          <a href="sobre-nos">Sobre nós</a>
          <a href="politica">Política de Privacidade</a>
        </div>
        <div class="col3">
          <h4>Dúvida</h4>
          <a href="minha-conta">Meus Pedidos</a>
          <a href="minha-conta">Minha Conta</a>
        </div>
        <div class="col4">
          <h4>Redes Sociais</h4>
          <div class="redes">
            <img src="/pages/img/Login-cadastro/facebook2.png" alt="facebook">
            <img src="/pages/img/Login-cadastro/instagram2.png" alt="instagram">
            <img src="/pages/img/Login-cadastro/whatsapp2.png" alt="whatsapp">
          </div>
        </div>
      </div>
      <div class="contato">
        <div class="localizacao">
          <img src="/pages/img/Login-cadastro/instagram-direto.png" alt="aviao">
          <p>Joinville/SC</p>
        </div>
        <div class="fone">
          <img src="/pages/img/Login-cadastro/telefone.png" alt="telefone">
          <p>Fone/Whatsapp: (47) 00000-0000</p>
        </div>
        <div class="email">
          <img src="/pages/img/Login-cadastro/o-email.png" alt="email">
          <p>Healthbox@gmail.com</p>
        </div>
      </div>
      <div class="linha2">
      </div>
    </div>
  </footer>
</body>

</html>