<!DOCTYPE html> <!-- Declaração do tipo de documento -->
<html lang="pt-br"> <!-- Tag raiz do documento HTML com atributo de linguagem definido como "pt-br" -->

<head> <!-- Início da seção de cabeçalho -->
    <meta charset="UTF-8"> <!-- Meta tag para especificar o conjunto de caracteres UTF-8 -->
    <link rel="preconnect" href="https://fonts.googleapis.com"> <!-- Link para pré-conexão com o serviço de fontes do Google -->
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin> <!-- Link para pré-conexão com o serviço de fontes do Google, com atributo crossorigin definido -->
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700;800;900&display=swap" rel="stylesheet"> <!-- Link para importar a fonte Montserrat do Google Fonts -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge"> <!-- Meta tag para definir a compatibilidade com o Internet Explorer -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> <!-- Meta tag para definir a viewport e a escala inicial -->
    <title>Sobre-nos</title> <!-- Título da página exibido na aba do navegador -->
    <link rel="stylesheet" type="text/css" href="/pages/assets/sobre-nos.css"> <!-- Link para importar o arquivo CSS "sobre-nos.css" -->
</head> <!-- Fim da seção de cabeçalho -->

<body> <!-- Início da seção de corpo do documento -->
    <header> <!-- Início do elemento header, que representa o cabeçalho da página -->
        <div class="faixa1"> <!-- Início de uma div com a classe "faixa1" -->
            <a href="/"><img src="/pages/img/inicio/logo-br.png" alt="" id="logo" /></a> <!-- Imagem do logo -->
            <div class="pesquisa"> <!-- Início de uma div com a classe "pesquisa" -->
                <input type="text" name="" id="" placeholder="Pesquisar" /> <!-- Campo de pesquisa -->
                <img src="http://www.devmedia.com.br/imagens/2013/buscar_grey.png" alt="" style="transform: scaleX(-1)" class="lupa" /> <!-- Imagem de uma lupa -->
            </div>

            <% if (typeof nomeUsuario !=='undefined' ) { %> <!-- Início de uma tag de script do EJS para renderização condicional -->
                <div class="entrar"> <!-- Início de uma div com a classe "entrar" -->
                    <a href="/pages/minha-conta"> <!-- Link para a página "Minha Conta" -->
                        <img src="/pages/img/produto-img/bonequinho.png" alt="" /> <!-- Imagem de um bonequinho -->
                        <p id="nomeUsuario"> <!-- Parágrafo com o ID "nomeUsuario" -->
                            <%= nomeUsuario %> <!-- Valor dinâmico do nome do usuário obtido a partir do EJS -->
                        </p>
                    </a>
                </div>
            <% } else { %> <!-- Tag de script do EJS para renderização condicional -->
                <div class="entrar"> <!-- Início de uma div com a classe "entrar" -->
                    <a href="/pages/login.html"> <!-- Link para a página de login -->
                        <img src="/pages/img/produto-img/bonequinho.png" alt="" /> <!-- Imagem de um bonequinho -->
                        <p id="nomeUsuario">Entrar</p> <!-- Parágrafo com o ID "nomeUsuario" exibindo "Entrar" -->
                    </a>
                </div>
            <% } %>
            
            <% if (typeof nomeUsuario !=='undefined' ) { %> <!-- Tag de script do EJS para renderização condicional -->
                <div class="sacola"> <!-- Início de uma div com a classe "sacola" -->
                    <a href="/pages/sacola"> <!-- Link para a página "Sacola" -->
                        <img src="/pages/img/inicio/bag.png" alt="" /> <!-- Imagem de uma sacola -->
                        <p>Sacola</p> <!-- Parágrafo exibindo "Sacola" -->
                    </a>
                <% } else { %> <!-- Tag de script do EJS para renderização condicional -->
                    <div class="sacola"> <!-- Início de uma div com a classe "sacola" -->
                        <a href="/pages/login.html"> <!-- Link para a página de login -->
                            <img src="/pages/img/inicio/bag.png" alt="" /> <!-- Imagem de uma sacola -->
                            <p>Sacola</p> <!-- Parágrafo exibindo "Sacola" -->
                        </a>
                    <% } %>
                </div>
            </div>
            
            <div class="faixa2"> <!-- Início de uma div com a classe "faixa2" -->
                <div class="opcoes"> <!-- Início de uma div com a classe "opcoes" -->
                    <a href="/pages/produtos">Produtos</a> <!-- Link para a página "Produtos" -->
                    <a href="#">Sobre nós</a> <!-- Link para a seção "Sobre nós" -->
                </div>
            </div>
    </header> <!-- Fim do elemento header -->
    <main>
        <!-- IMAGEM MARKENTING -->
        <img src="/pages/img/sobre-nos/mulher.png" alt="" class="mulher">

        <section class="texto"><!-- TEXTO SOBRE A EMPRESA -->
            <p><b class="negrito">Bem-vindo(a) à Healthbox</b>, uma empresa inovadora no ramo alimentício que oferece
                marmitas congeladas de alimentos saudáveis. Criamos um serviço que entrega suas refeições prontas,
                gostosas e saudáveis.</p>

            <p>Nosso objetivo é fornecer alimentos saudáveis e saborosos, que não só atendam às suas necessidades
                nutricionais, mas também estimulem seu paladar. Todos os nossos ingredientes são cuidadosamente
                selecionados e preparados com o máximo de cuidado, para garantir a qualidade e o sabor em cada mordida.
            </p>

            <p>Na <b class="negrito">Healthbox</b>, acreditamos que a alimentação saudável não precisa ser monótona ou
                sem graça. Nós estamos aqui para mostrar que é possível ter uma alimentação equilibrada e deliciosa ao
                mesmo tempo. Experimente nossas marmitas de alimentos saudáveis e sinta a diferença em sua vida.</p>
        </section>
    </main>
    <footer>
        <!-- Rodapé -->
        <div class="linha"></div>
        <div class="verdinho">
            <div class="row1">
                <div class="col1">
                    <!-- Div da primeira coluna do rodapé logo e lema -->
                    <a href="/"><img src="/pages/img/inicio/logo (2).png" alt=""></a>
                    <!-- Imagem do logo -->
                    <div class="sublinhado"></div>
                    <p class="lema">Tornando a sua vida mais saudável</p>
                </div>
                <div class="col2">
                    <!-- Div da segunda coluna do rodapé -->
                    <h4>Institucional</h4>
                    <a href="/pages/sobre-nos">Sobre nós</a>
                    <!-- Link para a página "Sobre nós" -->
                    <a href="/pages/politica">Política de Privacidade</a>
                    <!-- Link para a página "Política de Privacidade" -->
                </div>
                <div class="col3">
                    <!-- Div da terceira coluna do rodapé Dúvidas-->
                    <h4>Dúvida</h4>
                    <a href="/pages/minha-conta">Meus Pedidos</a>
                    <!-- Link para a página "Meus Pedidos" -->
                    <a href="/pages/minha-conta">Minha Conta</a>
                    <!-- Link para a página "Minha Conta" -->
                </div>
                <div class="col4">
                    <!-- Div da quarta coluna do rodapé das redes sociais -->
                    <h4>Redes Sociais</h4>
                    <div class="redes">
                        <!-- Div das redes sociais -->
                        <img src="/pages/img/Login-cadastro/facebook2.png" alt="facebook">
                        <img src="/pages/img/Login-cadastro/instagram2.png" alt="instagram">
                        <img src="/pages/img/Login-cadastro/whatsapp2.png" alt="whatsapp">
                    </div>
                </div>
            </div>
            <div class="contato">
                <!-- Div para as informações de contato -->
                <div class="localizacao">
                    <img src="/pages/img/Login-cadastro/instagram-direto.png" alt="aviao">
                    <p>Joinville/SC</p>
                </div>
                <div class="fone">
                    <img src="/pages/img/Login-cadastro/telefone.png" alt="telefone">
                    <p>Fone/Whatsapp: (47) 00000-0000</p>
                </div>
                <div class="email">
                    <img src="/pages/img/Login-cadastro/o-email.png" alt="email">
                    <p>Healthbox@gmail.com</p>
                </div>
            </div>
            <div class="linha2">
            </div>
        </div>
    </footer>
</body>

</html>